@media screen and (max-width: 700px) {
    #mobileview {
        display: block;
    }

    #webview {
        display: none;
    }
}

@media screen and (min-width: 700px) {
    #mobileview {
        display: none;
    }

    #webview {
        display: block;
    }

    html, body {
      overflow: unset;
    }
}

#mobileview {
  height: 100vh;
}
