﻿@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900');

body {
    font-family: "Roboto", sans-serif;
    line-height: 1.4;
    font-size: 14px;
    margin: 0 auto;
    color: #6a718e;
    max-width: 991px;
    background-color: #ffffff;
}

a {
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

    a:hover, a:focus {
        text-decoration: none;
    }

input::placeholder {
    opacity: 0.4 !important;
    font-size: 12px;
}

img {
    max-width: 100%;
}

[off-canvas] {
    color: #6a718e; /* Basic colors, overwrite this in your own css. */
}

input[type="text"], input[type="email"], input[type="tel"], input[type="url"], input[type="password"], input[type="number"], textarea, select {
    color: #666;
    width: 100%;
}

button:focus, button.btn:focus, a:focus {
    outline: none;
    box-shadow: none;
}

[off-canvas*=left] {
    background: #ffffff;
    background: url(../images/mobile/sidebar/sidebar_bg.jpg)no-repeat;
    background-size: contain;
    background-position: bottom right;
}

.js-close-any-slidebar:after {
    content: '';
    position: absolute;
    z-index: 999;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    box-shadow: inset 5px 0 16px 0px rgb(106,113,142,0.44);
}

body.gry {
    background: #ffffff;
}

.bg_spec {
    background: #f8f9fb;
}

.body_gry {
    background: #f8f9fb;
}

.body_vip {
    background: #ffffff;
}

.t-body {
    overflow: auto;
    height: 100%;
    padding-bottom: 12%;
}

#languagemodal .modal-dialog {
    height: 90vh;
}

    #languagemodal .modal-dialog .modal-content {
        background-color: transparent;
        border: none;
        position: absolute;
        left: 0;
        top: 35%;
        right: 0;
        text-align: center;
        margin: auto;
        width: 100%;
    }

        #languagemodal .modal-dialog .modal-content ul {
            padding: 0;
            list-style-type: none;
            display: flex;
            justify-content: space-between;
        }

            #languagemodal .modal-dialog .modal-content ul li {
                padding: 0px 20px;
                font-size: 16px;
                color: #ffffff;
                font-weight: 500;
            }

#afterlogin_bonus .modal-content {
    background-color: transparent;
    border: none;
    top: -10px;
}

#afterlogin_bonus button.close {
    color: #fff;
    top: 63px;
    position: absolute;
    right: 17px;
    z-index: 999;
}

.bonus_bg {
    background-color: #ffffff;
    background: url(../images/mobile/index/bonus_bg.png)no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 100%;
    position: relative;
    border-radius: 10px;
    border: 1px solid #cbb698;
}

.bonus_inner {
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    text-align: center;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #cbb698;
    width: 100%;
    font-size: 11px;
    font-weight: 500;
    margin-bottom: 10px;
}

.img_bonus_head {
    top: 44px;
    position: inherit;
    z-index: 9;
}

.bonus_inner img {
    width: 80%;
}

.bonus_bg_custom {
    z-index: 99;
    position: inherit;
    padding: 10px;
}

.btn_bonus {
    background: linear-gradient(to bottom,#e0d2bc 0%,#c5a684 100%);
    color: #ffffff;
    min-width: 122px;
    height: 31px;
    border: 1px solid #c9b69a;
    border-radius: 5px;
    margin-top: 5px;
    box-shadow: 0px 2px 7px -3px rgba(0,0,0,0.58);
}
/** Header **/
.header-top {
    padding: 5px 0;
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 991px;
    z-index: 99;
    background: #fff;
    min-height: 50px;
    display: flex;
    align-items: center;
    -moz-box-shadow: 0px 3px 7px -4px #ccc;
    ;
    -webkit-box-shadow: 0px 3px 7px -4px #ccc;
    ;
    box-shadow: 0px 3px 7px -4px #ccc;
    ;
}

.logo {
    max-width: 100px;
}

.inbox-icon {
    position: relative;
    color: #8e8e8e;
}

    .inbox-icon::after {
        content: '';
        width: 4px;
        height: 4px;
        background: #FB0000;
        border-radius: 50%;
        display: block;
        position: absolute;
        top: 3px;
        right: 0;
    }

.title-top {
    padding: 8px 5px;
    font-size: 18px;
    color: #414655;
    text-align: center;
    background: #fff;
    position: relative;
}

.left-btn {
    position: absolute;
    left: 2%;
    color: #8e8e8e;
}

.right-btn {
    right: 2%;
    color: #8e8e8e;
    font-size: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.right-btn-mail {
    font-size: 22px;
    color: #6a718e;
    margin: 0 10px;
}

.right-btn-1 {
    position: absolute;
    right: 2%;
    top: 1%;
    font-size: 17px;
}

    .right-btn-1 a {
        color: #414655;
    }

button.float-menu-btn {
    background: none;
    border: none;
    display: flex;
    /*position: absolute;*/
    top: 10%;
    left: 8px;
}

.nav-icon {
    width: 25px;
    margin: 0;
}

    .nav-icon:after, .nav-icon:before, .nav-icon div {
        background-color: #43475a;
        border-radius: 3px;
        content: '';
        display: block;
        height: 4px;
        margin: 3px 0;
        transition: all .2s ease-in-out;
    }

.userlogin {
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 20px 20px 5px 20px;
    grid-gap: 10px;
}

.userlogin_name {
    text-align: left;
    display: block;
    align-self: center;
}

.left-menu-wrapper hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid #ceaf8f;
    width: 80%;
}

.responsive-menu {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 5px;
    padding: 0 10px;
    grid-row-gap: 15px;
    text-align: center;
    font-size: 12px;
}

    .responsive-menu a {
        color: #6a718e;
    }

.sidemenu-icon {
    border: 1px solid #ceaf8f;
    border-radius: 34px;
    width: 40px;
    height: 40px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2px;
}

    .sidemenu-icon img {
        width: 20px;
    }

.lang-box {
    top: 10px;
    right: 8px;
    margin-left: 3px;
}

button#language-menu {
    color: #dcdcdc;
    font-size: 13px;
    padding: 0;
}

.lang-box button img {
    max-width: 23px;
}

.dropdown-menu.language {
    padding: 2px 0;
    margin: 0;
    min-width: 48px;
    font-size: 13px;
    overflow: hidden;
    background: rgba(0,0,0,0.7);
    left: 0px !important;
}

    .dropdown-menu.language .dropdown-item {
        padding: 3px 10px;
        text-align: center;
        color: #212121;
    }

.dropdown-toggle::after {
    display: none;
}

.btn_login {
    color: #43475a;
    border: 1px solid #c6ac8c;
    background: none;
    border-radius: 20px;
    font-size: 12px;
    width: 65px;
    font-weight: 500;
    text-align: center;
    padding: 5px;
    margin-right: 2px;
}

.btn_reg {
    color: #ffffff;
    border: 1px solid #c6ac8c;
    background: none;
    border-radius: 20px;
    /*font-size: 10px;*/
    font-size: 12px;
    width: 65px;
    font-weight: 500;
    background-image: linear-gradient(#f2e2d7, #d7b99f);
    -webkit-text-shadow: 0px 1px 0px #9a9a9a;
    -moz-text-shadow: 0px 1px 0px #9a9a9a;
    text-shadow: 0px 1px 0px #9a9a9a;
    margin-left: 2px;
    margin-right: 2px;
    text-align: center;
    padding: 5px;
}

.btn_logout {
    color: #43475a;
    border: 1px solid #c6ac8c;
    background: none;
    border-radius: 20px;
    font-size: 10px;
    width: 100%;
    font-weight: 500;
    text-align: center;
    padding: 5px;
    height: 30px;
    background-color: #ffffff;
    -moz-box-shadow: 0px 3px 7px -4px #ccc;
    -webkit-box-shadow: 0px 3px 7px -4px #ccc;
    box-shadow: 0px 3px 7px -4px #ccc;
}

.btn_logout_outset {
    position: fixed;
    bottom: 18px;
}

/** Home **/
.mobile-slider {
    padding: 70px 10px 20px;
    background-color: #f8f9fb;
    border-radius: 10px;
}

    .mobile-slider .carousel-inner {
        border: 1px solid #cbb698;
        border-radius: 10px;
        -webkit-box-shadow: 0px 0px 6px 0px rgb(203,182,152,0.7);
        -moz-box-shadow: 0px 0px 6px 0px rgb(203,182,152,0.7);
        box-shadow: 0px 0px 6px 0px rgb(203,182,152,0.7);
        will-change: transform;
    }

.carousel-control-prev, .carousel-control-next {
    top: 22%;
}

.annouce-sec {
    padding: 10px 0;
}

.annuuce-wrapper {
    display: grid;
    grid-template-columns: 10% 85%;
}

.speaker-icon {
    color: #e0d0c6;
    font-size: 18px;
}

.anouce-msg {
    align-self: center;
    color: #9aa4c2;
    /*font-size: 10px;*/
    font-size: 12px;
}

.no-sign-wrapper {
    /*  padding: 14px 0;*/
}

.no-sign {
    color: #6a718e;
    font-size: 9px;
}

.pls-sign a {
    color: #6a718e;
    /*font-size: 8px;*/
    font-size: 8px;
    font-weight: 600;
}

.slct-wrapper {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 0px;
}

    .slct-wrapper a {
        display: block;
        color: #b8a18b;
        text-align: center;
        /*font-size: 11px;*/
        font-size: 12px;
    }

        .slct-wrapper a img {
            display: block;
            margin: auto;
            width: 30px;
        }

.game-sec {
    padding: 20px 0;
    background-color: #f8f9fb;
}

.nav-pills.game-nav {
    padding-right: 5px;
}

    .nav-pills.game-nav .nav-link.active, .nav-pills.game-nav .show > .nav-link {
        color: #fff;
        background-color: #eddfcb;
        border: 1px solid #bdb09d;
        text-shadow: 0px 4px 4px #907c5d;
        background-image: linear-gradient(#fbe0b9, #cbb698);
    }

.nav-pills li.nav-item {
    width: 100%;
    text-align: center;
}

.nav-pills.game-nav .nav-link {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    border-radius: 10px;
    padding: 2px 5px 2px 1px;
    margin-bottom: 9px;
    color: #6a718e;
    background: #ffffff;
    border: 1px solid #bdb09d;
    /*font-size: 11px;*/
    font-size: 12px;
    font-weight: 500;
    box-shadow: 0px 3px 11px -5px rgba(0,0,0,0.58);
    align-items: center;
}

.game-nav .nav-link img {
    max-width: 100%;
    margin-right: 0px;
    padding: 5px;
}

.tab-content.game {
    padding-left: 3px;
}

    .tab-content.game a img {
        box-shadow: 0px 3px 14px -5px rgba(0,0,0,0.4);
        border-radius: 5px;
        margin-bottom: 10px;
    }

.gwrap_2 a img, .gwrap_3 a img {
    width: 48%;
    display: inline-block;
}

.gwrap_2 a:nth-of-type(2n) img {
    margin-left: 5px;
}

.gwrap_3 a.wdimg img {
    width: 100%;
}

.menu-btm {
    position: fixed;
    max-width: 991px;
    width: 100%;
    bottom: 0;
    background: #fff;
    z-index: 99;
}

.menu-wrapper {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    text-align: center;
    padding: 10px 0;
    border-radius: 16px 16px 0 0;
    box-shadow: 0px -3px 5px 0px rgba(0,0,0,0.1);
}

    .menu-wrapper a {
        color: #9aa4c2;
        /*font-size: 11px;*/
        font-size: 12px;
    }

        .menu-wrapper a img {
            max-width: 24%;
            display: block;
            margin: auto;
        }

        .menu-wrapper a .active-img {
            display: none;
        }

        .menu-wrapper a.active {
            color: #d2b79c;
        }

            .menu-wrapper a.active .active-img {
                display: block;
            }

            .menu-wrapper a.active .com-img {
                display: none;
            }

.announcement_more {
    border-radius: 20px;
    width: 57px;
    text-align: center;
    cursor: pointer;
    background-color: #6a718e;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .announcement_more a {
        color: #ffffff;
        vertical-align: middle;
        font-size: 12px;
    }

.userlogin_username {
    font-size: 9px;
    color: #6a718e;
    font-weight: 500;
}

.userlogin_name_index {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}

.btn_acc {
    font-size: 9px;
    min-width: 103px;
    border: 1px solid #cba98c;
    background: none;
    border-radius: 16px;
    color: #6a718e;
}

.wrapper_main {
    padding: 10px 0;
}
/** Promotion **/
.mix {
    display: none;
}

.filter-menu-bar {
    overflow: auto;
    /*white-space: nowrap;*/
    /*box-shadow: 0px 2px 7px -1px rgba(0,0,0,0.1);*/
    padding-left: 11px;
    /*background-color: #ffffff;*/
    /*padding-bottom: 10px;*/
}

    .filter-menu-bar::-webkit-scrollbar {
        display: none;
    }
/*.pmbox {
    display: inline-block;
    text-align: center;
    margin: 5px 13px 0;
    border-bottom: 2px solid transparent;
    padding: 5px 0 11px;
    font-size: 15px;
    color: #6a718e;
}*/
.pmbox {
    display: inline-block;
    color: #6a718e;
    border: none;
    background: none;
    border-radius: 20px;
    font-size: 12px;
    width: 100%;
    font-weight: 500;
    margin-left: 3px;
    margin-right: 2px;
    text-align: center;
    padding: 4px;
    height: auto;
    background-color: #ffffff;
    border: 1px solid #cba98c;
    width: 30%;
    margin-top: 5px;
    text-transform: uppercase;
}

    /*.pmbox.active {
    border-bottom: 2px solid #d2b79c;
    color: #cba98c;
}*/
    .pmbox.active {
        color: #ffffff;
        border: none;
        background: none;
        border-radius: 20px;
        background-image: linear-gradient(#f2e2d7, #d7b99f);
        text-align: center;
    }

.promo-content {
    padding: 15px;
}

.promo-bx {
    position: relative;
    margin-bottom: 10px;
}

.promo-tag {
    position: absolute;
    max-width: 15%;
    left: -4px;
    top: 0;
    z-index: 2;
}

.pm-boxer {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 5px;
    border: 1px solid #d2b79c;
}

.date-promo {
    position: absolute;
    left: 0;
    bottom: 9%;
    background: rgba(255,255,255,0.9);
    border-radius: 0 15px 15px 0;
    z-index: 2;
    font-size: 2.7vw;
    padding: 3px 8px;
    color: #1A1A1A;
}

    .date-promo i {
        color: #505050;
    }

.pmbx {
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.12);
    padding: 20px 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    color: #626772;
}

.prosm-title {
    color: #b1987f;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 15px;
}

.ptable {
    overflow: auto;
    border-radius: 8px;
}

.promo-table {
    text-align: center;
}

    .promo-table tr th {
        background: #DCC9B6;
        color: #fff;
        font-weight: 500;
        padding: 8px 3px;
        border: 1px solid #F2F2F2;
    }

    .promo-table tr td {
        background: #fff;
        padding: 8px 3px;
        border: 1px solid #F2F2F2;
    }

.lotto_table span {
    font-size: 9px;
    font-weight: 700;
    color: #6a718e;
}

.lotto_table table {
    font-weight: 700;
    font-size: 10px;
}

.promo_example {
    color: #6a718e;
    font-weight: 500;
}

.lotto_table table thead {
    background-color: #cbb698;
    color: #ffffff;
}

    .lotto_table table thead tr td:first-child {
        border-top-left-radius: 0px;
    }

    .lotto_table table thead tr td, .lotto_table table tbody tr td {
        padding: 10px 2px;
    }

    .lotto_table table thead tr td {
        border-right: 1px solid #ffffff;
    }

.lotto_table table tbody {
    color: #6a718e;
}

    .lotto_table table tbody tr td:first-child {
        text-transform: uppercase;
    }

    .lotto_table table tbody tr td {
        border: 1px solid #ccad8d;
        text-transform: uppercase;
    }

.lotto_table span.promo_table_exclude {
    color: #dc3545;
    display: block;
}

.promotnc {
    background-image: linear-gradient(#eacdad, #c3aa8a);
    color: #ffffff;
    padding: 5px 10px 5px 10px;
    font-weight: 500;
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 10px;
    text-shadow: 0px 2px 3px #665641;
    height: 44px;
}

.promotnccontent ul {
    list-style: none;
    padding-left: 20px;
}

    .promotnccontent ul li::before {
        content: "\2022";
        color: #c3aa8a;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -15px;
        font-size: 17px;
    }

.promo_collapse {
    border: 1px solid #d2b79c;
    margin-top: -18px;
    border-top: none;
    padding-top: 10px;
    background-color: #ffffff;
}

.promo-sec {
    margin-top: 70px;
    margin-bottom: 20px;
}

.lotto_table .sub_title {
    font-weight: 300;
}

.lotto_table {
    margin-top: 10px;
    margin-bottom: 10px;
}
/** Profile **/
.profile-sec {
    background: #fff;
    border-radius: 0 0 12px 12px;
    margin-bottom: 25px;
    margin-top: 50px;
}

    .profile-sec.contact_spec {
        background-color: #f8f9fb;
    }

.profile-user {
    display: grid;
    grid-template-columns: 70px auto 47px;
    grid-gap: 10px;
    padding: 10px 0 15px;
}

.propic {
    max-width: 70px;
    position: relative;
}

    .propic img {
        border-radius: 50%;
        width: 60px;
        height: 60px;
    }

.cam_icon {
    position: absolute;
    bottom: 0;
    left: 48px;
}

.cam.fa-camera {
    background: #cba98c;
    border-radius: 50%;
    height: 2em;
    width: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border: 2px solid #ffffff;
    font-size: 10px;
}

#profilemodal.modal .modal-dialog {
    max-width: 500px;
}

#profilemodal.modal .modal-header {
    background-image: linear-gradient(#eacdad, #c3aa8a);
    -moz-box-shadow: 0px 3px 7px 0px #ccc;
    -webkit-box-shadow: 0px 3px 7px 0px #ccc;
    box-shadow: 0px 3px 7px 0px #ccc;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    justify-content: center;
}

    #profilemodal.modal .modal-header .close {
        position: absolute;
        right: 20px;
    }

.user_select_img {
    max-width: 125px;
    max-height: 125px;
    margin: auto;
}

    .user_select_img img {
        border-radius: 100px;
        width: 100px;
        height: 100px;
        max-width: 125px;
        max-height: 125px;
    }

.user_select_img_item {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-items: center;
    grid-row-gap: 10px;
}

    .user_select_img_item img {
        border-radius: 100px;
        max-width: 53px;
        cursor: pointer;
    }

.upload_profile {
    cursor: pointer;
}

.upload.fa-camera {
    background: #f8f9fb;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6a718e;
    border: 2px solid #6a718e;
    font-size: 24px;
}

.playerinfo {
    align-self: center;
}

.playername {
    color: #6a718e;
    font-weight: 500;
    font-size: 15px;
}

.vip-lvl {
    background: #e1c8ba;
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
    padding: 1px 4px;
    border-radius: 5px;
    margin-left: 5px;
}

.plycap {
    color: #acafb9;
    font-size: 12px;
    margin-top: 4px;
}

.grey {
    align-self: center;
    font-size: 15px;
    color: #6a718e;
}

    .grey a {
        font-size: 15px;
        color: #6a718e;
    }

.vip-mall {
    background: #fff;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    border-radius: 12px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 7px 20px;
}

.vip-priv {
    display: grid;
    grid-template-columns: 30% 70%;
}

.vptitle {
    align-self: center;
    color: #313e4a;
    font-size: 19px;
    font-weight: 700;
}

    .vptitle span {
        display: block;
        color: #c2c5cb;
        text-transform: uppercase;
        font-size: 10px;
        font-weight: 400;
    }

.player-wallet-wrapper {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 15px 3px;
}

    .player-wallet-wrapper a {
        display: block;
        text-align: center;
        color: #cba98c;
        font-weight: 500;
    }

    .player-wallet-wrapper img {
        display: block;
        margin: auto;
        max-width: 50%;
    }

.profile-1 {
    background: #fff;
    margin-bottom: 20px;
}

.profile-2 {
    background: #fff;
    margin-bottom: 5px;
}

.profile-2_last {
    margin-bottom: 25px;
}

.record-wrapper {
    display: grid;
    grid-template-columns: 35px auto 15px;
    align-items: center;
    padding: 12px 32px;
}

.rtitle {
    color: #414655;
}

    .rtitle i {
        color: #8998b4;
        margin-right: 5px;
        font-size: 18px;
    }

.rcaption {
    color: #6a718e;
    font-size: 12px;
    text-align: left;
    padding-left: 10px;
    font-weight: 500;
}

/** Wallet **/
.wallet-sec {
    background: #fff;
    padding: 15px 5px 0;
    margin: 15px 15px 0;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    border-radius: 6px;
}

.total-amt-wrapper {
    display: grid;
    grid-template-columns: 70% 30%;
    margin-bottom: 15px;
}

.remaining {
    font-size: 18px;
    font-weight: 600;
    color: #263440;
}

    .remaining.unit {
        font-size: 12px;
        font-weight: 400;
    }

    .remaining a i {
        color: #D4C2B7;
    }

.totaldp {
    align-self: end;
    text-align: right;
}

.dps-btn {
    background: linear-gradient(to right, rgba(154,164,194,1) 0%, rgba(100,112,149,1) 100%);
    color: #fff;
    border: none;
    border-radius: 30px;
    font-size: 12px;
    padding: 5px 19px 6px;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.4);
}

.taowapper {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 20px 0 15px;
    text-align: center;
}

    .taowapper a {
        display: block;
        color: #414655;
        font-size: 13px;
    }

        .taowapper a img {
            display: block;
            max-width: 35%;
            margin: auto auto 10px;
        }

.wallet-detail {
    border-top: 1px solid #f3f3f3;
    padding: 12px 0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.wd-caption {
    color: #a5a9b3;
    font-size: 12px;
    text-align: right;
    font-weight: 300;
    align-self: center;
}

.wpbox {
    background: #fafbfc;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    border-radius: 4px;
}

.walet-wrap {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    font-size: 12px;
    color: #414655;
    font-weight: 500;
    text-align: center;
    padding: 15px 0;
}

.wamot {
    color: #d2b79c;
    font-weight: 600;
    font-size: 15px;
}

.wwb {
    position: relative;
}

.walet-wrap .wwb:first-child:after {
    content: "";
    position: absolute;
    right: 0;
    top: 24%;
    height: 20px;
    width: 1px;
    background: #eee;
}

.provider-wrapper {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
}

.pwbox {
    color: #414655;
    font-size: 12px;
    padding: 12px 1px;
    position: relative;
}

.pamount {
    display: block;
    color: #a5a9b3;
    font-size: 11px;
    font-weight: 500;
}

.provider-wrapper .pwbox:after {
    content: "";
    position: absolute;
    right: 0;
    top: 32%;
    height: 20px;
    width: 1px;
    background: #eee;
}

.provider-wrapper .pwbox:nth-of-type(4n):after {
    content: none;
}

.wallet-1 {
    padding: 18px 0;
}

.wtitle {
    display: flex;
    justify-content: space-between;
}

    .wtitle h3 {
        position: relative;
        font-size: 17px;
        font-weight: 700;
        padding-left: 9px;
    }

        .wtitle h3:before {
            position: absolute;
            left: 0;
            top: 0;
            content: "";
            width: 3px;
            height: 20px;
            background-image: linear-gradient(180deg,#d5b79d 4%,#f6e8dd);
        }

.wtcap {
    color: #d6ac83;
    font-size: 12px;
}

.wtitle i {
    font-size: 8px;
    color: #a5a9b3;
    padding-left: 5px;
}

.wuser-wrapper {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 15px 0;
}

    .wuser-wrapper a {
        display: block;
        color: #878787;
        font-size: 12px;
        text-align: center;
    }

        .wuser-wrapper a img {
            display: block;
            max-width: 30%;
            margin: auto;
            margin-bottom: 7px;
        }

.gif-img img {
    border-radius: 45px;
}

.norecord {
    padding: 30px;
    color: #ADADAD;
    font-size: 13px;
    text-align: center;
}

/** Withdraw & Transfer **/
.withdraw-sec {
    background: #fff;
    border-radius: 8px;
    margin-top: 10px;
    padding: 10px 0;
}

.wallet-money {
    color: #414655;
    font-size: 15px;
    font-weight: 600;
}

    .wallet-money i {
        color: #d3b9a0;
    }

.onebutton {
    color: #d3b9a0;
}

.card-btm {
    margin-top: 10px;
}

.addcard {
    background: #fff;
    padding: 14px;
    text-align: center;
    display: block;
    color: #d2b79c;
    font-weight: 600;
    font-size: 15px;
}

.bind {
    padding: 10px;
    color: #a5a9b3;
    font-size: 12px;
}

.trans-btm {
    background: #fff;
    margin-top: 10px;
    padding: 10px 0;
}

.auto-trans {
    padding: 2px;
    font-weight: 600;
    font-size: 16px;
    color: #414655;
}
/** Toggle Button **/
.btn-toggle {
    margin: auto;
    padding: 0;
    position: relative;
    border: none;
    height: 1.5rem;
    width: 3rem;
    border-radius: 1.5rem;
    color: #6b7381;
    background: #bdc1c8;
    float: right;
}

    .btn-toggle:focus,
    .btn-toggle.focus,
    .btn-toggle:focus.active,
    .btn-toggle.focus.active {
        outline: none;
        box-shadow: none;
    }

    .btn-toggle:before,
    .btn-toggle:after {
        line-height: 1.5rem;
        width: 4rem;
        text-align: center;
        font-weight: 600;
        font-size: 0.75rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        position: absolute;
        bottom: 0;
        transition: opacity 0.25s;
    }

    .btn-toggle > .handle {
        position: absolute;
        top: 0.1875rem;
        left: 0.1875rem;
        width: 1.125rem;
        height: 1.125rem;
        border-radius: 1.125rem;
        background: #fff;
        transition: left 0.25s;
    }

    .btn-toggle.active {
        transition: background-color 0.25s;
    }

        .btn-toggle.active > .handle {
            left: 1.6875rem;
            transition: left 0.25s;
        }

        .btn-toggle.active:before {
            opacity: 0.5;
        }

        .btn-toggle.active:after {
            opacity: 1;
        }

    .btn-toggle.active {
        background-color: #7d87a5;
    }


/** Card **/
.card-sec {
    background: #fff;
    padding: 30px 15px 15px;
}

.cardbox {
    padding: 10px 0;
    font-size: 15px;
}

    .cardbox input, .cardbox select {
        border: none;
        padding: 7px 0;
        background: transparent;
    }

    .cardbox label {
        font-weight: 300;
        margin-bottom: 1px;
    }

    .cardbox input::placeholder, .cardbox select {
        color: #B5B5B5;
        font-weight: 300;
    }

.notc {
    padding: 10px 15px;
    margin: 0 -15px;
    color: #a5a9b3;
    font-size: 12px;
    font-weight: 300;
    background: #f8f8f8;
}

.cardfirm {
    color: #a5a9b3;
    font-size: 12px;
    font-weight: 300;
    padding: 13px 0;
}

button.nextbtn {
    background: #ECE2D8;
    color: #fff;
    border: none;
    font-size: 17px;
    width: 100%;
    padding: 11px;
    border-radius: 6px;
    margin-top: 8px;
}

.help-sec {
    padding: 30px 0;
    font-size: 15px;
    text-align: center;
    color: #B7B7B7;
}

.cardm-sec {
    padding: 30px 0;
}

.nocard {
    max-width: 50%;
    margin: auto;
}

.addcard-btn {
    background: #fff;
    display: block;
    padding: 25px;
    font-size: 17px;
    font-weight: 600;
    color: #414655;
    text-align: center;
    border-radius: 8px;
}

.cardsup {
    color: #a5a9b3;
    text-align: center;
    padding: 10px;
}

/** Deposit **/
.bank-input-wrap {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
    justify-items: center;
}

.login_arrow {
    font-size: 25px;
    margin-top: 14px;
}

.afterloginform.transfer_amount .form-group b {
    color: #6a718e;
    font-size: 12px;
}
/* Bank payment */
.bank-input-wrap label [type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

    .bank-input-wrap label [type=radio] + img {
        cursor: pointer;
    }

    .bank-input-wrap label [type=radio]:checked + img {
        border: 1px solid #d2b79c;
        background: url(../images/mobile/tick.png)no-repeat;
        background-size: 25%;
        background-position: right bottom;
        transition: none;
    }

.bank-input-wrap label img {
    border-radius: 5px;
    width: 60px;
}

.bank-input-wrap label {
    max-width: 70px;
    margin: auto;
    text-align: center;
    width: 100%;
}

span.bank-type {
    font-size: 10px;
}

.deposit-sec {
    padding: 15px 0 0;
    background: #fff;
    margin-top: 10px;
}

.bank-choice {
    background: #fff;
    padding: 5px 0;
    margin-top: 10px;
}

.bank-select select {
    border: none;
    padding: 10px;
    background: transparent;
}

.amount-input-wrap {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
}
    /* Amount deposit */
    .amount-input-wrap label [type=radio] {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
    }

        .amount-input-wrap label [type=radio] + div {
            cursor: pointer;
            text-align: center;
            padding: 9px 0px;
            font-size: 13px;
            font-weight: 500;
            border-radius: 6px;
            border: 1px solid #E4E4E4;
        }

        .amount-input-wrap label [type=radio]:checked + div {
            border: 1px solid #d2b79c;
            background-size: 25%;
            background-position: right bottom;
            transition: none;
            color: #ffffff;
            background: linear-gradient(to bottom, #838db4 0%, #6a718e 100%);
            background: -moz-linear-gradient(to bottom, #838db4 0%, #6a718e 100%);
            background: -webkit-linear-gradient(to bottom, #838db4 0%, #6a718e 100%);
            background: -webkit-gradient(to bottom, #838db4 0%, #6a718e 100%);
        }

    .amount-input-wrap label {
        margin-bottom: 0;
    }

.afterloginform .form-group b {
    color: #6a718e;
    font-size: 10px;
}

.btn_upload {
    background: #6a718e;
    color: #ffffff;
    min-width: 20px;
    height: 35px;
    border: 1px solid #6a718e;
    border-radius: 9px;
    width: 75px;
}
/** messagecenter **/
.messagecenterbody {
    background-color: #f8f8f8;
}

.nav-pills.messagemain {
    justify-content: center;
    box-shadow: -1px 2px 4px 0px rgba(186, 186, 186, 0.2);
    padding: 5px 0px 0px 0px;
    background-color: #fff;
}

    .nav-pills.messagemain li.nav-item {
        width: auto;
        text-align: center;
        margin-right: 5%;
        margin-left: 5%;
    }

        .nav-pills.messagemain li.nav-item a {
            color: #c5c5c5;
        }

    .nav-pills.messagemain .nav-link.active {
        background-color: transparent;
        border-bottom: 2px solid #d2b79c;
        color: #000;
        border-radius: unset;
    }

    .nav-pills.messagemain .nav-link.info {
        position: relative;
    }

        .nav-pills.messagemain .nav-link.info .info_notiy {
            position: absolute;
            display: inline-block;
            padding: 0 .12rem;
            line-height: 0.3rem;
            background: #db6372;
            border-radius: 3.15rem;
            color: #fff;
            top: 0.2rem;
            margin-left: 0.04rem;
            height: 18px;
            width: 18px;
        }

            .nav-pills.messagemain .nav-link.info .info_notiy span {
                top: 6px;
                position: absolute;
                left: 5px;
            }

.messagesubtab ul {
    list-style-type: none;
    padding-left: 0px;
}

    .messagesubtab ul li {
        background-color: #fff;
        max-height: 60px;
        padding: 10px;
        border-bottom: 1px solid rgba(220, 220, 220, 0.2);
    }

        .messagesubtab ul li a {
            display: flex;
        }

        .messagesubtab ul li img {
            max-width: 35px;
        }

        .messagesubtab ul li .imp {
            border: 1px solid #ff4949;
            border-radius: 5px;
            font-size: 10px;
            padding: 1px;
            color: #ff4949;
            margin-left: 5px;
        }

        .messagesubtab ul li .title {
            color: #414655;
        }

        .messagesubtab ul li .date {
            float: right;
            font-size: 10px;
            color: #a5a9b3;
        }

        .messagesubtab ul li .info_content {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            width: 250px;
            color: #a5a9b3;
            font-size: 12px;
        }

.messagesubtabread ul {
    list-style-type: none;
    padding-left: 0px;
    background-color: #fff;
}

    .messagesubtabread ul li {
        max-height: 60px;
        display: flex;
        padding: 10px;
        border-bottom: 1px solid rgba(220, 220, 220, 0.2);
    }

        .messagesubtabread ul li img {
            max-width: 35px;
        }

        .messagesubtabread ul li .title {
            color: #414655;
        }

        .messagesubtabread ul li .date {
            font-size: 10px;
            color: #a5a9b3;
        }

        .messagesubtabread ul li .info_content {
            color: #a5a9b3;
            font-size: 12px;
        }

/*vippage*/
.vipbody {
    background-color: #f8f8f8;
    padding-bottom: 0px;
}

.vipbg {
    background: url(../images/mobile/vip/userinfo_bg.png)center no-repeat;
    background-size: 100% 100%;
}

.userdetails img {
    width: 45px;
}

.userbadge img {
    width: 60px;
    float: right;
}

.vipghead00 {
    padding-bottom: 25px;
    color: #414655;
    font-size: 18px;
}

.vipghead01 {
    padding-bottom: 25px;
}

.vipfrom {
    background: #d2b79c;
    font-size: 10px;
    border-radius: 13px;
    color: #fff;
    padding: 0px 5px;
    float: right;
    margin-top: 3px;
}

.vipto {
    background: linear-gradient(270deg,#dde1e6,#b9b0b9);
    font-size: 10px;
    border-radius: 13px;
    color: #fff;
    padding: 0px 5px;
}

.vipbg .progress {
    height: 10px;
    box-shadow: -1px 2px 4px 0px rgba(112, 112, 112, 0.3);
}

    .vipbg .progress .progress-bar-striped {
        background-image: linear-gradient(-45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
        background-size: 1rem 1rem;
    }

    .vipbg .progress .progress-bar {
        background-color: rgb(202, 202, 202);
    }

.progressicon {
    display: inline-block;
}

    .progressicon .fa-sort-down:before {
        position: absolute;
        top: 13px;
        width: 29px;
    }

.progresscustom {
    margin: auto;
    position: relative;
}

.progresspercent {
    position: absolute;
    top: -29px;
    left: -8px;
    text-align: right;
    font-size: 11px;
    font-weight: 900;
}

    .progresspercent img {
        width: 30px;
        margin-top: 10px;
    }

.vipghead02 {
    padding-bottom: 25px;
}

.currentsaving span {
    color: #9aa4c2;
    font-size: 10px;
}

.currentsaving .saving01 {
    display: list-item;
    list-style-type: disc;
    list-style-position: inside;
}

.currentsaving .savingamt {
    color: #414655;
    font-size: 12px;
    margin-left: 5px;
}

.controlwalletsection {
    margin: auto;
    margin-top: 20px;
}

.walletcard-item {
    background: url(../images/mobile/vip/card_bg.png)center no-repeat;
    background-size: 100% 100%;
    padding: 20px;
    position: relative;
}

.walletgrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 25px;
    text-align: center;
    color: #fff;
}

    .walletgrid .walletgridtitle {
        font-size: 10px;
    }

.walletcard-item img {
    width: 50px;
    margin: auto;
    position: absolute;
    top: -20px;
    right: 33px;
}

.walletcard-item .walletname {
    font-size: 30px;
    font-weight: 900;
    font-style: italic;
    color: #fff;
    text-transform: uppercase;
    margin-left: 17%;
}
/*
.slick-list{
    padding:0 5% 0 5%;
    margin-left: -10px;
    margin-right: -10px;
}

.slick-slide{
    margin-left:  10px;
    margin-right:  10px;
}*/
.slick-slide .mt-3 {
    padding: 0px;
}

.displaywalletcount {
    margin: 30px 0 0 0;
    text-align: right;
    font-size: 12px;
    color: #9aa4c2;
}

.sectionhead {
    box-shadow: -1px 2px 4px 0px rgba(186, 186, 186, 0.2);
    padding-bottom: 10px;
    background-color: #fff;
}

.vipexclusivemain {
    margin-top: 10px;
    background-color: #ffffff;
    padding: 5px 0px 0px 0px;
}

.vipexclusivelabel:before {
    content: "";
    position: absolute;
    top: 1px;
    height: 15px;
    width: 3px;
    left: 13px;
    border-radius: 10px;
    background: #cbb698;
}

.vipexclusive {
    margin-left: 10px;
    font-size: 14px;
    font-weight: 700;
}

.vipexclusive_inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding: 15px;
}

    .vipexclusive_inner img {
        min-width: 35px;
        max-width: 35px;
    }

    .vipexclusive_inner .vipexclusive_amount {
        color: #414655;
        font-size: 18px;
        word-break: break-all;
    }

    .vipexclusive_inner .vipexclusive_title {
        color: #9aa4c2;
        font-size: 12px;
    }

.vipexclusive_inner_wrapper {
    display: flex;
}

.vipbonusmain {
    margin-top: 10px;
    background-color: #ffffff;
    padding: 5px 0px 0px 0px;
}

.vipbonus_inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding: 15px;
    text-align: center;
}

    .vipbonus_inner .vipbonus_amount {
        word-break: break-all;
        font-size: 20px;
        color: #d2b79c;
    }

    .vipbonus_inner .vipbonus_amount_sec {
        word-break: break-all;
        font-size: 12px;
        color: #d2b79c;
    }

    .vipbonus_inner .vipbonus_title {
        word-break: break-all;
        font-size: 12px;
        color: #9aa4c2;
    }

.vipbonusselect_section {
    background-image: linear-gradient(270deg,#fcfaf7,#f3ede6);
    display: flex;
    margin: auto;
    width: 320px;
    border-radius: 5px;
    padding: 20px 10px;
}

.vipbonuslvl {
    margin-left: 45px;
    width: 82px;
    padding: 8px;
    font-size: 12px;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    background-image: linear-gradient(90deg,#dccab7,#d2b597);
    opacity: 0.5;
}

.vipbonusselect select {
    width: 108px;
    border: 1px solid #d2b79c;
    color: #d2b79c;
    background-color: hsla(0,0%,100%,.5);
    background: hsla(0,0%,100%,.5);
    height: 30px;
    font-size: 12px;
    padding: 0px;
    text-align-last: center;
    border-radius: 2px;
}

.vipbonusmore_detail {
    color: #b1987f;
}

/*info*/
.info-boxer {
    position: relative;
    overflow: hidden;
    border-radius: 0px;
    margin-bottom: 5px;
    background-color: #ffffff;
    box-shadow: 0px 2px 7px -1px rgba(0,0,0,0.1);
}

.blog_read {
    background-color: #6a718e;
    border-radius: 5px;
    border: none;
    min-width: 100px;
    height: 26px;
}

.blod_title {
    color: #6a718e;
    font-size: 10px;
}

.blog_read a {
    color: #fff;
    font-size: 11px;
}

.info-boxer-custom {
    display: grid;
    grid-template-columns: 70% 30%;
    padding: 5px;
    align-items: center;
}

.blog_paging {
    box-shadow: 0px 2px 7px -1px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    min-height: 27px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info_tab {
    background-color: #ffffff;
    border: 1px solid #cbb698;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 6px 0px rgb(203,182,152,0.7);
    -moz-box-shadow: 0px 0px 6px 0px rgb(203,182,152,0.7);
    box-shadow: 0px 0px 6px 0px rgb(203,182,152,0.7);
    margin-bottom: 20px;
    color: #6a718e;
}

.info_back a {
    color: #6a718e;
    font-weight: 700;
}

.info_main_title {
    font-size: 14px;
    font-weight: 700;
    color: #6a718e;
}

.info_img {
    border: 1px solid #cbb698;
}

.blog_content {
    font-size: 11px;
    margin-top: 10px;
}

.contact_main_title {
    font-size: 15px;
    font-weight: 700;
    color: #6a718e;
    margin: 20px 0 10px 0;
}

.contact_inner_title {
    font-size: 21px;
    font-weight: 700;
    color: #6a718e;
    margin: 0px 0 10px 0;
}

.back_custom a {
    color: #6a718e;
}
/*banking*/
.bankingtable {
    color: #6a718e;
}

table.bankingtable tbody tr td {
    border: 1px solid #cba98c;
}

    table.bankingtable tbody tr td img {
        width: 40px;
    }

#accordion.banking_drop .card-link:after {
    font-family: 'Font Awesome 5 Free';
    content: "\f106";
    float: right;
    font-weight: 900
}

#accordion.banking_drop .card-link.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f107";
}

.bankaccordion .card .tncbtn {
    background: -moz-linear-gradient(bottom,#eacdad 0%,#c3aa8a 99%);
    background: -webkit-linear-gradient(bottom,#eacdad 0%,#c3aa8a 99%);
    background: linear-gradient(to bottom,#eacdad 0%,#c3aa8a 99%);
    width: 100%;
    text-align: left;
    height: 41px;
    border-radius: 0px;
    color: #ffffff;
    margin-top: 10px;
    font-size: 12px;
}

    .bankaccordion .card .tncbtn.collapsed {
        background: #ffffff;
        border: 1px solid #cba98c;
        color: #6a718e;
    }

.bankaccordion .card {
    border: none;
}

.bankaccordion .card-body {
    border: 1px solid #cba98c;
}
/*bankingEND*/
/*tnc*/
.tncaccordion .card .tncbtn {
    background: -moz-linear-gradient(bottom,#eacdad 0%,#c3aa8a 99%);
    background: -webkit-linear-gradient(bottom,#eacdad 0%,#c3aa8a 99%);
    background: linear-gradient(to bottom,#eacdad 0%,#c3aa8a 99%);
    width: 100%;
    text-align: left;
    height: 46px;
    border-radius: 10px;
    color: #ffffff;
    font-size: 12px;
    margin-bottom: 10px;
    font-weight: 500;
}

    .tncaccordion .card .tncbtn.collapsed {
        background: #ffffff;
        border: 1px solid #cba98c;
        color: #6a718e;
    }

.tncaccordion .card {
    border: none;
}

    .tncaccordion .card ul {
        padding-left: 0;
    }
/*tncEND*/
/*download*/
ul#downloadTab {
    width: 100%;
    border: none;
    box-shadow: 0px 2px 7px -1px rgba(0,0,0,0.1);
}

    ul#downloadTab .nav-item {
        width: 50%;
        box-shadow: 0px 2px 6px -4px rgba(0,0,0,0.29);
    }

    ul#downloadTab li a.nav-link {
        display: inline-block;
        width: 100%;
        border: none;
        border-radius: 0;
        color: #6a718e;
        text-align: center;
        background: #ffffff;
        font-weight: 700;
    }

        ul#downloadTab li.nav-item.show .nav-link, ul#downloadTab li a.nav-link.active {
            color: #ffffff;
            box-shadow: none;
            background: linear-gradient(to bottom, #c3aa8a 0%, #e6c49e 100%);
        }

.download_inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 10px;
    text-align: center;
    padding: 0 5px;
}

.download_inner_title {
    position: relative;
    justify-content: center;
}

.download_inner_title_custom {
    position: absolute;
    bottom: 24px;
    font-size: 20px;
    color: #ffffff;
    font-weight: 700;
    text-shadow: 2px 2px #717171;
    width: 100%;
}

.download_btn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 0px;
}

.download_btn_img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 3px 1px rgba(203,182,151,1));
    -webkit-filter: drop-shadow(0px 3px 1px rgba(203,182,151,1));
}

    .download_btn_img img {
        width: 78%;
    }

.download_btn_play {
    position: absolute;
    font-size: 9px;
    font-weight: 700;
    color: #6a718e;
}

.download_btn_download {
    position: absolute;
    font-size: 9px;
    font-weight: 700;
    color: #ffffff;
}

/*downloadmodal*/
#downloadmodal.modal .modal-body {
    padding: 30px;
}

#downloadmodal.modal .modal-dialog {
    max-width: 800px;
}

#downloadmodal.modal .modal-header {
    background-image: linear-gradient(#eacdad, #c3aa8a);
    -moz-box-shadow: 0px 3px 7px 0px #ccc;
    -webkit-box-shadow: 0px 3px 7px 0px #ccc;
    box-shadow: 0px 3px 7px 0px #ccc;
    padding: 0px;
}

    #downloadmodal.modal .modal-header img {
        margin: 0 auto;
        width: 125px;
    }

    #downloadmodal.modal .modal-header .close {
        position: absolute;
        right: 20px;
        top: 10px;
    }

.download_main {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    font-weight: 700;
    justify-items: center;
    text-align: center;
    grid-column-gap: 20px;
}

.download_box_column {
    border: 1px solid #ccad8d;
    width: 80%;
    border-radius: 10px;
    padding: 10px;
    -webkit-box-shadow: 0px 0px 6px 0px rgb(203,182,152,0.7);
    -moz-box-shadow: 0px 0px 6px 0px rgb(203,182,152,0.7);
    box-shadow: 0px 0px 6px 0px rgb(203,182,152,0.7);
    position: relative;
    margin-top: 0;
}

.applybg {
    background: url(../images/mobile/download/APPLE.jpg)no-repeat top center;
    background-position: center;
    background-size: cover;
}

.androidbg {
    background: url(../images/mobile/download/ANDROID.jpg)no-repeat top center;
    background-position: center;
    background-size: cover;
}

.btn_login_download {
    margin-top: 10px;
}

.download_scan {
    width: 70px;
    height: 70px;
    text-align: center;
    display: flex;
    align-items: center;
    background-image: linear-gradient(#eacdad, #c3aa8a);
    border-radius: 60px;
    margin: auto;
}

    .download_scan img {
        width: 30px;
        margin: auto;
    }

.btn_download {
    border-radius: 5px;
    background-color: #d7bc9c;
    color: #ffffff;
    width: auto;
    font-size: 9px;
}

.download_table table {
    -webkit-box-shadow: 0px 0px 6px 0px rgb(203,182,152,0.7);
    -moz-box-shadow: 0px 0px 6px 0px rgb(203,182,152,0.7);
    box-shadow: 0px 0px 6px 0px rgb(203,182,152,0.7);
    font-size: 9px;
}

    .download_table table thead {
        background-color: #c5ac8c;
        color: #ffffff;
        border: 1px solid #c5ac8c;
    }

    .download_table table tbody tr td {
        border: 1px solid #c5ac8c;
        padding: 10px;
    }

.download_pass {
    width: 100%;
    border: 1px solid #c5ac8c;
}
/*downloadEND*/

/*login*/
.login_body {
    background: url(../images/mobile/signin/bg.jpg)no-repeat;
    background-position: bottom center;
    background-size: cover;
}

.signin_main {
    margin-top: 100px;
}

.login_title {
    font-weight: 700;
    font-size: 20px;
    color: #6a718e;
    text-align: center;
}

.login_form {
    margin: 20px auto 0 auto;
    color: #cbb698;
}

.login_form_inner a {
    color: #6a718e;
    font-size: 10px;
}

.login_form_inner {
    font-size: 11px;
    align-self: center;
}

.login_form .form-group .form-control {
    border: 1px solid #cbb698;
    border-radius: 3px;
    height: 29px;
    font-size: 11px;
}

.login_form .form-group .col-form-label {
    text-align: right;
    font-size: 11px;
    padding-right: 0;
}

.registrationPassIcon {
    position: absolute;
    top: 8px;
    right: 24px;
}

.btn_login_main {
    margin-top: 50px;
}

.btn_login_page {
    background: linear-gradient(to bottom,#e0d2bc 5%,#c9b69a 100%);
    color: #ffffff;
    min-width: 186px;
    height: 43px;
    border: 1px solid #c9b69a;
    border-radius: 8px;
}

    .btn_login_page:hover {
        -webkit-box-shadow: 0px 0px 6px 0px rgb(203,182,152,0.7);
        -moz-box-shadow: 0px 0px 6px 0px rgb(203,182,152,0.7);
        box-shadow: 0px 0px 6px 0px rgb(203,182,152,0.7);
    }

.btn_otp {
    background: linear-gradient(to bottom,#e0d2bc 5%,#c9b69a 100%);
    color: #ffffff;
    min-width: 20px;
    height: 29px;
    border: 1px solid #c9b69a;
    border-radius: 8px;
    font-size: 10px;
}

.form-check {
    padding-left: 2.25rem;
}

.checkbox_custom {
    display: flex;
    justify-content: space-between;
}

.checkbox_inner_custom {
    margin-left: 9%;
}

    .checkbox_inner_custom .form-check-input {
        margin-top: .2rem;
    }
/*loginEND*/
/*contact*/
.contact-mall {
    background: #fff;
    box-shadow: 0px 4px 6px 1px rgb(0,0,0,0.2);
    border-radius: 12px;
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 7px 20px;
    align-items: center;
}

.contact_welc {
    font-size: 13px;
    font-weight: 700;
}

.contact_sub_welc {
    font-size: 11px;
}

.contact_info_icon img {
    width: 50px;
}

.contact_info_main {
    margin: 20px auto;
}

.contact_live {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

    .contact_live img {
        width: 170px;
    }

.contact_live_text {
    position: absolute;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
}

.contact-wrapper {
    box-shadow: 0px 4px 6px 1px rgb(0,0,0,0.2);
    border-radius: 20px;
    padding: 20px 0;
}

.follow {
    text-decoration: underline;
}

.contact-record-wrapper {
    display: grid;
    grid-template-columns: 35px auto 15px;
    align-items: center;
    padding: 12px 12px;
    border-bottom: 1px solid #cdd7e4;
    margin: 0 20px;
}

.contact-record-wrapper-spec {
    border-bottom: none;
}

.contact-info {
    background-color: #ffffff;
    position: relative;
    padding-top: 43px;
    margin: 43px 0 20px 0;
    width: 100%;
}

.contact-info-icon {
    position: absolute;
    top: -41px;
}

.contact_spec_wrapper {
    box-shadow: 0px 4px 6px -5px rgb(0,0,0,0.2);
}
/*contactEND*/

/*myacc*/
.vipdetails_btn {
    min-width: 87px;
    color: #6a718e;
    border: 1px solid #6a718e;
    min-height: 24px;
    border-radius: 20px;
    font-size: 11px;
    background-color: #f8f9fb;
    font-weight: 700;
}

.wallet_balance {
    box-shadow: 0px 3px 7px 0px #ccc;
    background-color: #f8f9fb;
}

.wallet_balance-record-wrapper {
    display: grid;
    grid-template-columns: 35px auto auto;
    align-items: center;
    padding: 12px 10px;
}

.drop a {
    color: #6a718e;
}

.wallet-provider {
    position: absolute;
    z-index: 9;
    width: 100%;
}

.index_login_wallet .wallet-provider {
    width: 100%;
}

.profile-1_last {
    margin-bottom: 35px;
}

.index_login_wallet .dropdown-balance {
    width: 100%;
}

.index_login_wallet.dropdown-menu {
    min-width: 93vw;
    border: none;
    padding: 0;
}

.dropdown-balance {
    width: 100%;
    background: rgb(255 255 255 / 95%);
    color: #6a718e;
    text-align: center;
    border: 1px solid #b9a78d;
    padding-top: 12px;
    overflow: scroll;
    height: 400px;
    box-shadow: 0px 3px 7px 0px #ccc;
}

.summary-wrapper {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 9px 0px;
    font-size: 11px;
    padding-bottom: 10px;
    align-items: center;
}

.platform-item {
    text-transform: uppercase;
    font-weight: 500;
    padding: 0px 10px;
}

.amount-item {
    text-align: right;
    height: 25px;
    padding: 0px 10px;
}

.balc {
    display: inline-block;
    margin: 0 3px;
}

button.btn-in {
    display: inline-block;
    border: none;
    margin: 0 5px;
    height: 100%;
    padding: 0px 10px;
    background: #6a718e;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
}

button.btn-out {
    display: inline-block;
    border: none;
    margin: 0 2px;
    height: 100%;
    padding: 0px 10px;
    background: #cba98c;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
}

.main_profile_title {
    font-size: 15px;
    font-weight: 700;
    margin: 5px 0px;
    color: #6a718e;
}

.btn-gender {
    width: 100%;
}

    .btn-gender .btn-outline-primary {
        border-radius: 0;
    }

        .btn-gender .btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show > .btn-outline-primary.dropdown-toggle {
            color: #fff;
            background-color: #6a718e;
            border-color: #6a718e;
        }

    .btn-gender .btn-group > .btn-group:not(:first-child) > .btn, .btn-group > .btn:not(:first-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        background-color: #f8f9fb;
    }

    .btn-gender .btn-outline-primary {
        color: #6a718e;
        border-color: #6a718e;
    }

.form-group b {
    color: #cbb698;
    font-size: 11px;
}

.form-check-label {
    font-size: 10px;
}

.afterloginform .form-control {
    background-color: #f8f9fb;
    border-radius: 0;
}

.submit_btn {
    color: #ffffff;
    font-size: 19px;
    font-weight: 500;
    min-width: 100%;
    border: none;
    min-height: 39px;
    border-radius: 34px;
    margin: 30px 0;
    background-image: linear-gradient(to bottom, #838db4 0%, #6a718e 100%);
}

.afterlogin-sec {
    border-radius: 0 0 12px 12px;
    margin-bottom: 30px;
    margin-top: 70px;
}

.afterlogin-main {
    background-color: #f8f9fb;
    padding: 10px 0;
}

.phone_number_custom {
    padding-left: 5px;
}
/*myaccEND*/

/*deposit*/
.afterlogin_deposit.nav-tabs {
    border: none;
}

.afterlogin_deposit.nav .nav-item .nav-link {
    border-radius: 40px;
    text-align: center;
    background: #f8f9fb;
    color: #6a718e;
    height: 29px;
    border: 1px solid #c9b69a;
    font-size: 10px;
    text-transform: uppercase;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}

    .afterlogin_deposit.nav .nav-item .nav-link.active, .afterlogin_deposit.nav .nav-item .nav-link:hover {
        background: linear-gradient(to bottom,#e0d2bc 5%,#c9b69a 100%);
        color: #ffffff;
        height: 29px;
        border: 1px solid #c9b69a;
    }

.afterlogin_deposit.nav.nav-tabs {
    justify-content: center;
}

    .afterlogin_deposit.nav.nav-tabs .nav-item {
        margin-right: 5px;
    }

.main_profile_title {
    font-size: 15px;
    font-weight: 700;
    margin: 5px 0px;
    color: #6a718e;
}

.bank-input-wrap.method {
    padding: 9px 0px;
    border-radius: 8px;
    width: 100%;
}

.bank-input-wrap label {
    margin: 0 0px;
    margin-bottom: 0;
}

    .bank-input-wrap label [type=radio] {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
    }

.bank-type {
    display: block;
    text-align: center;
    font-size: 14px;
    padding: 5px 5px;
    color: #484848;
    font-weight: 500;
    width: 100%;
    height: auto;
}

.bank-input-wrap label .bank-type {
    border-radius: 5px;
    color: #b7b7b7;
}

.bank-input-wrap label [type=radio] + .bank-type {
    cursor: pointer;
}

.bank-input-wrap label [type=radio]:checked + .bank-type {
    border: 1px solid #cba98c;
    background-position: right bottom;
    transition: none;
    color: #6a718e;
    -webkit-box-shadow: 0px 0px 6px 0px rgb(203,182,152,0.7);
    -moz-box-shadow: 0px 0px 6px 0px rgb(203,182,152,0.7);
    box-shadow: 0px 0px 6px 0px rgb(203,182,152,0.7);
}

.bank-input-wrap label [type=radio] + .bank-type img {
    cursor: pointer;
    filter: grayscale(0.8);
}

.bank-input-wrap label [type=radio]:checked + .bank-type img {
    filter: grayscale(0);
}

.bnk-info {
    box-shadow: inset 0px 1px 5px -1px rgba(0,0,0,0.62);
    border-radius: 10px;
    width: auto;
    padding: 10px;
}

    .bnk-info ul {
        list-style: disc;
        padding-left: 17px;
        color: #6a718e;
        margin-top: 10px;
        font-size: 10px;
    }

        .bnk-info ul li.bnk_custom {
            margin-bottom: 4px;
            margin-top: 3px;
        }

.copy_btn {
    color: #ffffff;
    background-color: #6a718e;
    border-radius: 20px;
    padding: 3px 10px;
    margin-left: 10px;
    cursor: pointer;
    width: 42px;
    display: inline-block;
}
/*depositEND*/

/*withdraw*/
.allout_btn {
    background-image: linear-gradient(to bottom, #838db4 0%, #6a718e 100%);
    min-width: 87px;
    color: #fff;
    border: none;
    min-height: 24px;
    border-radius: 20px;
    font-size: 11px;
}

.box-prov {
    padding: 10px 0px 10px 0px;
    border-radius: 8px;
    margin-top: 5px;
}

    .box-prov ul {
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        margin-bottom: 0;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-gap: 10px;
    }

        .box-prov ul li {
            /*margin-left: 10px;*/
            border: 1px solid #6a718e;
            padding: 5px;
            text-align: center;
            margin-bottom: 10px;
            border-radius: 4px;
            cursor: pointer;
            background-color: #f8f9fb;
            color: #6a718e;
            font-weight: 500;
            font-size: 11px;
            display: grid;
            min-height: 64px;
        }

            .box-prov ul li a {
                color: #6a718e;
                font-weight: 500;
            }

                .box-prov ul li a:hover {
                    text-decoration: none;
                }
/*.box-prov ul li:nth-child(4n+1) {
    margin-left: 0px;
}*/
.prov-amot {
    background: #fff;
    border-radius: 2px;
    border: 1px solid #cba98c;
    word-break: break-all;
    color: #6a718e;
    align-self: end;
}

.box-prov ul li.active, .box-prov ul li:hover {
    background-image: linear-gradient(to bottom, #838db4 0%, #6a718e 100%);
    border: 1px solid #838db4;
    color: #fff;
}

    .box-prov ul li.active .prov-amot, .box-prov ul li:hover .prov-amot {
        border: 2px solid #6a718e;
    }

.with-info {
    box-shadow: inset 0px 1px 5px -1px rgba(0,0,0,0.62);
    border-radius: 10px;
    width: auto;
    padding: 10px;
    margin-bottom: 20px;
}

    .with-info ul {
        list-style: none;
        padding-left: 25px;
        color: #6a718e;
        margin-top: 10px;
        font-size: 12px;
    }

.wallet_balance_display {
    padding: 12px 15px;
    margin: 10px 0;
}
/*withdrawEND*/
/*transfer*/
.transfer_main {
    margin-top: 20px;
}

.form-inline .form-control label {
    font-size: 13px;
    color: #6a718e;
    font-weight: 500;
}
/*transferEND*/
/*history*/
.form_btn {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.btn_history {
    border: 1px solid #e7e7e7;
    background-color: #f8f9fb;
    height: 35px;
    color: #b7b7b7;
    width: 100%;
}

    .btn_history.active {
        color: #6a718e;
        border: 1px solid #6a718e;
    }

.history_table {
    -webkit-box-shadow: 0px 0px 6px 0px rgb(203,182,152,0.7);
    -moz-box-shadow: 0px 0px 6px 0px rgb(203,182,152,0.7);
    box-shadow: 0px 0px 6px 0px rgb(203,182,152,0.7);
}

.history_table_main {
    margin-top: 30px;
    font-size: 9px;
}

table.history_table thead tr td, table.history_table tbody tr td {
    padding: 12px 5px;
}

table.history_table thead {
    background-image: linear-gradient(to bottom, #eacdad 0%, #c3aa8a 100%);
    color: #ffffff;
    font-weight: 700;
}

table.history_table tbody tr:nth-child(2n) {
    background-color: #f1f1f1;
}

table.history_table tbody tr td {
    border-right: 1px solid #c3aa8a;
    font-weight: 500;
}

    table.history_table tbody tr td:last-child {
        border: none;
    }

.history_green {
    color: #129c80;
}

.history_red {
    color: #ff112d;
}

.date_history {
    font-size: 11px;
    line-height: initial;
}

.date_history_time {
    font-size: 11px;
}
/*historyEND*/

/*inbox*/
.afterlogin_inbox.nav-tabs {
    border: none;
}

    .afterlogin_inbox.nav-tabs .nav-item {
        width: 33.3%;
    }

.afterlogin_inbox.nav .nav-item .nav-link {
    border-radius: 0px;
    text-align: center;
    background: #f8f9fb;
    color: #6a718e;
    height: 33px;
    border: 1px solid #c9b69a;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .afterlogin_inbox.nav .nav-item .nav-link.active, .afterlogin_inbox.nav .nav-item .nav-link:hover {
        background: linear-gradient(to bottom,#e0d2bc 5%,#c9b69a 100%);
        color: #ffffff;
        border: 1px solid #c9b69a;
    }

.inbox_tab table {
    -webkit-box-shadow: 0px 0px 6px 0px rgb(204,203,201,0.7);
    -moz-box-shadow: 0px 0px 6px 0px rgb(204,203,201,0.7);
    box-shadow: 0px 0px 6px 0px rgb(204,203,201,0.7);
}

    .inbox_tab table tbody tr td {
        padding: 10px 5px;
        font-weight: 500;
        font-size: 9px;
    }

        .inbox_tab table tbody tr td .fa-envelope {
            color: #c9b69a;
        }

    .inbox_tab table tbody tr.noread {
        background-color: #6a718e;
        color: #ffffff;
    }

    .inbox_tab table tbody tr.noread_half {
        background-color: #f8f9fb;
    }

    .inbox_tab table tbody tr.noread .min_deposit {
        color: #ffffff;
    }

    .inbox_tab table tbody tr {
        cursor: pointer;
    }

.notice_main {
    position: relative;
}

.notification_NOTICE {
    position: absolute;
    top: 1px;
    right: 27px;
    padding: 0px 4px;
    border-radius: 50%;
    background-color: #99acc4;
    color: white;
}

.inbox_box {
    display: grid;
    grid-template-columns: 30% 70%;
}

.inbox_box_content {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    /* animation-name: slideInUp; */
    border-top: 3px solid #6a718e;
    padding-top: 15px;
    padding-bottom: 100px;
    position: fixed;
    bottom: 0;
    background-color: #ffffff;
}

.inbox_box table tbody tr td {
    font-size: 13px;
}

.inbox_box_back a {
    font-size: 23px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #6a718e;
}

    .inbox_box_back a:hover {
        text-decoration: none;
    }

.inbox_title {
    font-weight: 700;
}

.inbox_content {
    font-size: 12px;
    height: 100px;
    overflow-y: auto;
}

.delete_btn {
    min-height: 30px;
    min-width: 120px;
    font-size: 15px;
}

    .delete_btn a {
        color: #ffffff;
    }

        .delete_btn a:hover {
            text-decoration: none;
        }

.inbox_box table tbody tr.active, .inbox_box table tbody tr:hover {
    background-color: #6a718e;
    color: #ffffff;
}

.min_deposit {
    color: #79797975;
    font-size: 8px;
}

.inbox_icon {
    font-size: 13px;
}
/*inboxEND*/
/*vip*/
.vip_main {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 10px;
    grid-row-gap: 20px;
    grid-column-gap: 16px;
}

.vip_inner {
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    grid-gap: 5px;
}

    .vip_inner.non {
        filter: grayscale(1);
        opacity: 0.5;
    }

    .vip_inner img {
        width: 60%;
    }

.vip_inner_img_custom {
    text-align: center;
}

.vip_inner_title_small {
    font-size: 11px;
}

.vip_inner_title {
    color: #cbb698;
    font-size: 16px;
}

.vip_inner_title_sub {
    font-size: 9px;
    text-transform: uppercase;
}

.vip_daily_title {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    text-align: center;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-top: 10px;
}

.btn_vip {
    color: #6a718e;
    border: none;
    background: none;
    border-radius: 20px;
    font-size: 13px;
    /*    width: 100%;*/
    font-weight: 500;
    /*    margin-left: 2px;*/
    margin-right: 10px;
    text-align: center;
    padding: 5px;
    height: 27px;
    background-color: #ffffff;
    min-width: 75px;
    border: 1px solid #cba98c;
}

.slick-slide.slick-current.slick-active .item .btn_vip {
    color: #ffffff;
    border: none;
    background: none;
    border-radius: 20px;
    font-size: 14px;
    /*    width: 100%;*/
    font-weight: 500;
    background-image: linear-gradient(#f2e2d7, #d7b99f);
    /*    margin-left: 2px;*/
    margin-right: 10px;
    text-align: center;
    padding: 5px;
    height: 27px;
    min-width: 75px;
}

/*.vip_detect_slider .slick-dots {
    position: absolute;
    bottom: -25px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    top: 200px;
    z-index: 99;
}*/
.profile_bg {
    background-color: #f8f9fb;
    margin: 10px 0;
}

.vip_detect_slider .slick-list {
    margin-bottom: 15px;
}

.vipaccordion .card .tncbtn {
    background: -moz-linear-gradient(bottom,#eacdad 0%,#c3aa8a 99%);
    background: -webkit-linear-gradient(bottom,#eacdad 0%,#c3aa8a 99%);
    background: linear-gradient(to bottom,#eacdad 0%,#c3aa8a 99%);
    width: 100%;
    text-align: left;
    height: 46px;
    border-radius: 0px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
}

    .vipaccordion .card .tncbtn.collapsed {
        background: #ffffff;
        border: 1px solid #cba98c;
        color: #6a718e;
    }

.vipaccordion .card {
    border: none;
}

.card-body ul {
    padding-left: 15px;
}

.vip_table_rules table {
    font-weight: 500;
    font-size: 10px;
}

    .vip_table_rules table thead {
        background-color: #6a718e;
        color: #ffffff;
    }

        .vip_table_rules table thead tr td:first-child {
            width: 210px;
            border-top-left-radius: 7px;
        }

        .vip_table_rules table thead tr td:last-child {
            border-top-right-radius: 7px;
        }

        .vip_table_rules table thead tr td, .vip_table_rules table tbody tr td {
            padding: 10px 2px;
        }

    .vip_table_rules table tbody tr td {
        border: 1px solid #ccad8d;
    }

    .vip_table_rules table thead tr td {
        border-right: 1px solid #ffffff;
    }

.vip_table_rules ol {
    padding-left: 10px;
}

.vip_detect_slider .item img {
    border-radius: 3px;
}
/*vipEND*/

/*maintainpage*/
.index_logo_provider {
    padding: 15px;
    margin: 0;
    text-align: center;
}

    .index_logo_provider img {
        padding: 5px 12px;
        max-width: 100px;
    }

.errorBg {
    background: url(../images/mobile/maintenance/bg.jpg)no-repeat;
    background-size: inherit;
    color: #6a718e;
    background-position: left top;
}

.logo_error {
    margin-top: 30px;
}

    .logo_error img {
        width: 160px;
    }

.mainimg {
    margin: 30px 0;
}

    .mainimg img {
        width: 500px;
    }

.error_text_eng {
    font-weight: 500;
    font-size: 11px;
}

.error_text_chin {
    font-size: 11px;
}

.btn_error_custom {
    font-size: 11px;
}

.server_text {
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
}

.logo_provider_error_custom {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 10px 0;
    justify-items: center;
}

.error_btn_img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 3px 1px rgba(203,182,151,1));
    -webkit-filter: drop-shadow(0px 3px 1px rgba(203,182,151,1));
}

    .error_btn_img img {
        width: 140px;
    }

.btn_error_main {
    margin: 20px 0;
}

/*btnbacktotop*/
.buttonback {
    display: inline-block;
    background-color: #ffffff;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 30px;
    position: absolute;
    border: 2px solid #5c5c5c;
    bottom: 80px;
    right: 43%;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

    .buttonback::before {
        content: "\f106";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-style: normal;
        font-size: 20px;
        line-height: 43px;
        color: #5c5c5c;
        bottom: -2px;
        position: absolute;
        right: 12px;
    }

    .buttonback:active {
        background-color: #555;
    }

    .buttonback.show {
        opacity: 1;
        visibility: visible;
    }

.btnbtt_text {
    font-size: 11px;
    width: 72px;
    position: absolute;
    right: -13px;
    top: 39px;
}
/*btnbacktotopend*/

/*newaddlottoindex*/
.lottoTitle {
    font-size: 17px;
    color: #cbb698;
    text-align: center;
    font-weight: 700;
    margin-bottom: 10px;
}

.lotto_main {
    border: 1px solid #bdb09d;
    border-radius: 5px;
    padding: 10px 0px;
    background-image: linear-gradient(#ffffff, #d0d0d07d);
}

.lotto_ball {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    margin: 0 auto;
    grid-gap: 5px;
}

.lotto_ball_out {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(rgb(0, 0, 0,0.4) 1px 2px 1px);
}

.lotto_balltext {
    position: absolute;
    font-size: 25px;
    color: #cbb698;
    font-weight: 700;
}

.game_products_btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    border: none;
    background: none;
    width: 121px;
}

.game_products_btntext {
    position: absolute;
    color: #ffffff;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
}

.game_products_btntext_live {
    color: #6a718e;
}

.lotto_btn_draw {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.lotto_btn_draw_1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

#payoutmodal.modal, #promomodal.modal {
    z-index: 9999999;
}

    #payoutmodal.modal .modal-body {
        padding: 30px 0px;
    }

    #payoutmodal.modal .modal-dialog, #promomodal.modal .modal-dialog {
        max-width: 800px;
    }

    #payoutmodal.modal .modal-header, #promomodal.modal .modal-header {
        background-image: linear-gradient(#eacdad, #c3aa8a);
        -moz-box-shadow: 0px 3px 7px 0px #ccc;
        -webkit-box-shadow: 0px 3px 7px 0px #ccc;
        box-shadow: 0px 3px 7px 0px #ccc;
        color: #ffffff;
        font-size: 25px;
        font-weight: 700;
    }

        #payoutmodal.modal .modal-header span, #promomodal.modal .modal-header span {
            text-shadow: 0px 2px 3px #665641;
        }

        #payoutmodal.modal .modal-header img, #promomodal.modal .modal-header img {
            margin: 0 auto;
            width: 200px;
        }

        #payoutmodal.modal .modal-header .close, #promomodal.modal .modal-header .close {
            position: absolute;
            right: 20px;
        }

    #payoutmodal.modal .lotto_table table {
        font-weight: 700;
        font-size: 10px;
    }

.vip_table_spctext {
    font-weight: 400;
}

#payoutmodal.modal .lotto_table table thead {
    background-color: #cbb698;
    color: #ffffff;
}

    #payoutmodal.modal .lotto_table table thead tr td {
        border-right: 1px solid #ffffff;
    }

    #payoutmodal.modal .lotto_table table thead tr td, #payoutmodal.modal .lotto_table table tbody tr td {
        padding: 10px 2px;
    }

        #payoutmodal.modal .lotto_table table thead tr td:first-child {
            border-top-left-radius: 7px;
        }

        #payoutmodal.modal .lotto_table table thead tr td:last-child {
            border-top-right-radius: 7px;
        }

        #payoutmodal.modal .lotto_table table tbody tr td:first-child {
            text-transform: uppercase;
        }

#payoutmodal.modal .lotto_table table tbody tr td {
    border: 1px solid #ccad8d;
    text-transform: uppercase;
}

#payoutmodal.modal .lotto_table table tbody {
    color: #6a718e;
}

#payoutmodal.modal .lotto_table span {
    font-size: 14px;
    font-weight: 700;
    color: #6a718e;
}

.blinking {
    animation: blinkingText 1.2s infinite;
}

@keyframes blinkingText {
    0% {
        color: #dc3545;
    }

    49% {
        color: #dc3545;
    }

    60% {
        color: #e2b3b7;
    }

    99% {
        color: #e2b3b7;
    }

    100% {
        color: #dc3545;
    }
}

#payoutmodal.modal .lotto_table span.lotto_extra {
    color: #dc3545;
    font-size: 14px;
}

.tab-content.game a .game_products_btn img {
    margin-bottom: 0px;
    box-shadow: unset;
}

.toto-result-sec {
    padding: 58px 0 45px 0;
    text-align: center;
    color: #43475a;
}

ul.lt-wrap {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-gap: 2px;
    border-bottom: 2px solid #c6ac8c;
    padding: 0 2px;
}

li.lt-item {
    position: relative;
    padding-bottom: 22px;
}

.nav-tabs.lt-wrap .nav-link {
    border: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 0;
}

    .nav-tabs.lt-wrap .nav-item.show .nav-link, .nav-tabs.lt-wrap .nav-link.active {
        color: #495057;
        background-color: transparent;
    }

.date-box {
    padding: 10px 0px;
    font-size: 16px;
    /*background: rgba(0,0,0,0.6);*/
}

span#resultDate {
    vertical-align: middle;
}

.result-boxes {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.prize {
    background-image: linear-gradient(#f2e2d7, #d7b99f);
    font-weight: 500;
    font-size: 16px;
    padding: 3px 2px;
}

.result-tt {
    padding: 7px 2px;
    font-weight: 500;
    font-size: 16px;
    /*background: rgba(0,0,0,0.6);*/
}

.result-boxes-1 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.result-box {
    border: 1px solid #e8e8e8;
}

.result-ttt {
    padding: 3px 2px;
    font-weight: 500;
    font-size: 14px;
    /*background: rgba(0,0,0,0.6);*/
}

.table-in {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

    .table-in div {
        padding: 5px 0;
    }

ul.lt-wrap li a.active:after {
    content: "";
    color: #c6ac8c;
    position: absolute;
    border-top: 0;
    border-right: 0.7em solid transparent;
    border-bottom: 0.7em solid;
    border-left: 0.7em solid transparent;
    width: 8px;
    margin: auto;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
}
/*newaddlottoindexEND*/

#snow {
    background: none;
    background-image: url(../images/mobile/share/s1.png),url(../images/mobile/share/s2.png);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    pointer-events: none;
    -webkit-animation: snow 15s linear infinite;
    -moz-animation: snow 15s linear infinite;
    -ms-animation: snow 15s linear infinite;
    animation: snow 15s linear infinite;
}

@keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }

    50% {
        background-position: 500px 500px, 100px 200px, -100px 150px;
    }

    100% {
        background-position: 500px 1000px, 200px 400px, -100px 300px;
    }
}

@-moz-keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }

    50% {
        background-position: 500px 500px, 100px 200px, -100px 150px;
    }

    100% {
        background-position: 400px 1000px, 200px 400px, 100px 300px;
    }
}

@-webkit-keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }

    50% {
        background-position: 500px 500px, 100px 200px, -100px 150px;
    }

    100% {
        background-position: 500px 1000px, 200px 400px, -100px 300px;
    }
}

@-ms-keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }

    50% {
        background-position: 500px 500px, 100px 200px, -100px 150px;
    }

    100% {
        background-position: 500px 1000px, 200px 400px, -100px 300px;
    }
}
