﻿@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900');

body {
    font-family: "Roboto", sans-serif;
    line-height: 1.6;
    font-size: 15px;
    margin: 0 auto;
    color: #949ab3;
}

a {
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    color: inherit;
}

    a:hover {
        color: inherit;
        text-decoration: none;
    }

button:focus {
    outline: none;
}

img {
    max-width: 100%;
}

hr {
    border-top: 1px solid #cba98c;
}

input::placeholder {
    opacity: 0.4 !important;
}

@font-face {
    font-family: "AzonixFont";
    /*src: url("../webfonts/Azonix.otf") format("truetype");*/
}

@font-face {
    font-family: "AdobeheitistdFont";
    /*src: url("../webfonts/adobeheitistd-regular.otf") format("truetype");*/
}

h4, .english_text {
    font-family: 'AzonixFont', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #6a718e;
    font-size: 21px;
}

.chineseFont_text {
    /*font-family: 'AdobeheitistdFont', Arial, sans-serif;*/
    font-weight: normal;
    font-style: normal;
    color: #6a718e;
}

.t-header {
    background-color: #43475a;
    min-height: 32px;
    display: flex;
    align-items: center;
}

.mobile_download i {
    font-size: 20px;
}

.mobile_download {
    color: #cba98c;
}

    .mobile_download:hover {
        color: #949ab3;
    }

.header_lang {
    list-style-type: none;
    display: inline-flex;
    margin: 0;
    color: #ffffff;
    font-size: 11px;
}

    .header_lang li {
        margin: 0 6px;
    }

        .header_lang li::before {
            border-left: 1px solid #ffffff;
            display: block;
            position: absolute;
            top: 5px;
            height: 16px;
            content: "";
            margin-left: -7px;
        }

        .header_lang li:first-child::before {
            border-left: none;
        }

        .header_lang li a {
            color: rgb(255,255,255,0.3);
        }

            .header_lang li a:hover {
                color: #ffffff;
                text-decoration: none;
            }

            .header_lang li a.active {
                color: #ffffff;
            }

.header-menu {
    background-color: #ffffff;
    min-height: 85px;
    position: relative;
    -moz-box-shadow: 0px 3px 7px 0px #ccc;
    -webkit-box-shadow: 0px 3px 7px 0px #ccc;
    box-shadow: 0px 3px 7px 0px #ccc;
}

.header_menu_ex {
    position: inherit;
}

.logo img {
    max-height: 85px;
    padding: 10px;
}

.main-menu {
    float: left;
}

    .main-menu ul {
        margin: 0;
        padding: 0;
    }

        .main-menu ul li {
            display: inline-block;
            list-style-type: none;
            padding: 21px 15px;
            margin: 0;
            text-align: center;
            font-size: 13px;
            font-weight: 700;
            border-bottom: 3px solid transparent;
        }

            .main-menu ul li a {
                color: #6a718e;
            }

            .main-menu ul li.active {
                border-bottom: 3px solid #cba98c;
            }

                .main-menu ul li.active a, .main-menu ul li.active a .chineseFont_text {
                    color: #cba98c;
                }

            .main-menu ul li:hover a, .main-menu ul li:hover a .chineseFont_text {
                color: #cba98c;
                text-decoration: none;
            }

            .main-menu ul li:hover {
                border-bottom: 3px solid #cba98c;
            }

.login_header {
    display: flex;
    padding: 22px 0px;
    align-items: center;
}

.acc_pic img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.login_header_before {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
}

    .login_header_before a {
        color: #6a718e;
        text-decoration: none;
    }

.register_left_custom {
    border-left: 1px solid #cba98c;
}

    .register_left_custom a {
        color: #cba98c;
    }

.dropdown_first_text {
    display: block;
    padding-top: 42px;
}

.dropdown_percent {
    font-size: 46px;
    line-height: initial;
}

.dropdown_btn_custom:hover {
    background-color: #efefef;
    cursor: pointer;
}

.dropdown_promo {
    font-size: 12px;
    font-weight: 500;
}

.dropdown_promo_img img {
    width: auto;
    height: 181px;
}

.megamenu {
    width: 100%;
    left: 0px;
    top: 86px;
    position: absolute;
    justify-content: center;
    color: #949ab3;
    z-index: 20;
    margin: 0px;
    text-align: left;
    font-size: 15px;
    -o-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
    -o-transition: -o-transform 0.3s, opacity 0.3s;
    -ms-transition: -ms-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    z-index: 9999999;
}

.wbg3 {
    background: rgb(255 255 255 / 95%);
    display: flex;
}

.main-menu li > .megamenu {
    /*    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform: rotateX(-90deg);
    -o-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    -webkit-transform: rotateX(-90deg);*/
    visibility: hidden;
    /*    transition-delay: 0.3s;
    transition-duration: 0.3s;*/
}

.main-menu li:hover > .megamenu {
    /*    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    transform: rotateX(20deg);
    -o-transform: rotateX(20deg);
    -moz-transform: rotateX(20deg);
    -webkit-transform: rotateX(20deg);*/
    opacity: 1;
    visibility: visible;
    /*    transition-delay: 0s;*/
}

.menu-in {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    max-width: 963px;
    justify-items: center;
}

.menu-in-promo {
    grid-template-columns: repeat(4, 1fr);
}

.dropdown_btn_custom {
    padding: 10px 0;
}
/*index*/
.index_home {
    background: url(../images/web/index/indexbg.jpg)no-repeat top center;
}

.announcementCustom {
    display: flex;
    align-items: center;
}

.announcement {
    border: 1px solid #ccad8d;
    border-radius: 20px;
    padding: 3px;
    margin: 20px 0 10px 0;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 6px 0px rgb(203,182,152,0.7);
    -moz-box-shadow: 0px 0px 6px 0px rgb(203,182,152,0.7);
    box-shadow: 0px 0px 6px 0px rgb(203,182,152,0.7);
}

.announcementCustom i {
    color: #ccad8d;
    margin-left: 18px;
}

.announcement_more {
    border: 1px solid #ccad8d;
    border-radius: 20px;
    width: 57px;
    text-align: center;
    margin-right: 9px;
    cursor: pointer;
}

    .announcement_more a {
        color: #6a718e;
    }

    .announcement_more:hover {
        background-color: #43475a;
    }

        .announcement_more:hover a {
            color: #fff;
            text-decoration: none;
        }

.marquee_custom {
    font-size: 12px;
    color: #5b5b5b;
}

.slider {
    height: 300px;
    margin: 30px auto 60px auto;
}

    .slider ul li {
        /* transition: width .5s, height .5s, top .5s, left .5s;
        -webkit-transition: width .5s, height .5s, top .5s, left .5s;
        */
        border: 1px solid #cbb698;
        border-radius: 20px;
        -webkit-box-shadow: 0px 0px 6px 0px rgb(203,182,152,0.7);
        -moz-box-shadow: 0px 0px 6px 0px rgb(203,182,152,0.7);
        box-shadow: 0px 0px 6px 0px rgb(203,182,152,0.7);
        cursor: pointer;
    }

        .slider ul li img {
        }

.left,
.right {
    cursor: pointer;
    margin-top: -28px;
}

/*btnbacktotop*/
.buttonback {
    display: inline-block;
    background-color: #ffffff;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 30px;
    position: fixed;
    border: 2px solid #5c5c5c;
    bottom: 60px;
    right: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

    .buttonback::before {
        content: "\f106";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-style: normal;
        font-size: 2em;
        line-height: 43px;
        color: #5c5c5c;
    }

    .buttonback:active {
        background-color: #555;
    }

    .buttonback.show {
        opacity: 1;
        visibility: visible;
    }

.btnbtt_text {
    font-size: 11px;
    width: 72px;
    position: absolute;
    right: -13px;
    top: 49px;
}
/*btnbacktotopend*/

/*btnbacklivechat*/
.buttonlivechat {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 30px;
    position: fixed;
    bottom: 140px;
    right: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    z-index: 1000;
}

    .buttonlivechat.show {
        opacity: 1;
        visibility: visible;
    }

.btnbtt_text_live {
    font-size: 11px;
    width: 72px;
    position: absolute;
    right: -10px;
    top: 49px;
}
/*btnbacklivechat*/

/*bartitle*/
.bar_title {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
    justify-content: space-between;
}

.bar_title_custom {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.bar_title_img {
    width: 400px;
}

/*gametab*/
.game_tab {
    position: relative;
}

    .game_tab .img_normal, .game_tab .img_hover {
        width: 150px;
    }

.nav-item .nav-link {
    color: #6a718e;
    font-weight: 500;
}

    .nav-item .nav-link.active, .nav-item .nav-link:hover {
        color: #ffffff;
    }

.tabsection_main .nav-item .nav-link.active, .tabsection_main .nav-item .nav-link:hover {
    text-shadow: 0px 4px 4px #907c5d;
    font-weight: 500;
}

.nav-tabs.tabsection_main {
    border-bottom: none;
    margin-bottom: 20px;
}

.tabsection_main .nav-item .nav-link.active, .tabsection_main .nav-item .nav-link:hover, .tabsection_main .nav-item .nav-link:focus {
    background-color: transparent;
    border: none;
    filter: brightness(1) drop-shadow(0 0 4px rgba(203,182,152,1));
}

.tabsection_main .nav-item .nav-link {
    border: none;
}

.img_hover {
    display: none;
}

.tabsection_main .nav-item .nav-link.active .game_tab .img_hover, .tabsection_main .nav-item:hover .nav-link .game_tab .img_hover {
    display: block;
}

.tabsection_main .nav-item .nav-link.active .game_tab .img_normal, .tabsection_main .nav-item:hover .nav-link .game_tab .img_normal {
    display: none;
}

.game_tab_info {
    position: absolute;
    display: grid;
    grid-template-columns: 30% 70%;
    bottom: -11px;
    justify-items: center;
    text-align: center;
    align-items: center;
    padding: 17px;
    font-size: 12px;
    font-weight: 700;
}

    .game_tab_info img {
        width: 76px;
    }

.index_tab {
    background-color: #fefdfb;
    border: 1px solid #cbb698;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 6px 0px rgb(203,182,152,0.7);
    -moz-box-shadow: 0px 0px 6px 0px rgb(203,182,152,0.7);
    box-shadow: 0px 0px 6px 0px rgb(203,182,152,0.7);
}

.index_tab_content {
    padding-top: 20px;
}

.game_products {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
    margin-top: 15px;
}

.game_products_inner {
    cursor: pointer;
}

.img_hover_product {
    display: none;
}

.game_products_inner:hover .img_hover_product {
    display: block;
}

.game_products_inner:hover .img_normal_product {
    display: none;
}

.game_products_text {
    text-align: center;
}

.text_game_title {
    font-size: 60px;
    line-height: 1.1;
    color: #43475a;
    font-weight: 700;
}

.tab_bar_tltle {
    font-size: 40px;
    color: #6a718e;
    font-weight: 700;
    line-height: 1;
}

.tab_bar_tltle_sec {
    font-size: 43px;
    font-weight: 700;
    color: #cbb698;
    margin-bottom: 10px;
    line-height: normal;
}

.qualityservice_inner {
    display: grid;
    grid-template-columns: 30% 70%;
    justify-items: center;
    align-items: center;
    margin-bottom: 30px;
}

.qualityservice_inner_title {
    font-size: 20px;
    color: #6a718e;
    font-weight: 700;
}

.qualityservice_inner_content {
    font-size: 13px;
    color: #848487;
}

.qualityservice_inner_img {
    text-align: center;
}

.qualityservice_inner .qualityservice_inner_img img {
    width: 100%;
}

.index_body_custom {
    padding: 0 0 30px 0;
    overflow: hidden;
}

.for_float_use {
    position: relative;
}
/*.t-body{
    margin-top: 10px;
}*/
/*footer*/
.footer_section {
    background: #43475a;
    padding: 10px 0;
    color: #8c90a3;
}

    .footer_section hr {
        border-top: 1px solid rgba(0,0,0,.1);
    }

.index_logo_provider {
    padding: 15px;
    margin: 0;
    text-align: center;
}

    .index_logo_provider img {
        padding: 5px 12px;
        max-width: 100px;
    }

.footer_title {
    font-size: 16px;
}

.footer_content {
    font-size: 10px;
}

.footer_content_more {
    display: none;
}

.footer_content_more_trigger span {
    cursor: pointer;
    border-bottom: 1px solid grey;
}

.menu-footer a {
    color: #f1f1f1;
    padding: 0 10px;
    line-height: 1;
    border-right: 1px solid #fff;
}

    .menu-footer a:last-child {
        border-right: none;
    }

.football {
    position: absolute;
    right: -176px;
    top: 530px;
    -webkit-animation: float 3s ease-in-out infinite;
    animation: float 3s ease-in-out infinite;
}

    .football img {
        width: 70%;
    }

.football02 {
    position: absolute;
    left: -177px;
    bottom: 455px;
    -webkit-animation: float 3s ease-in-out infinite;
    animation: float 3s ease-in-out infinite;
}

@-webkit-keyframes float {
    0% {
        -webkit-transform: translatey(0px);
        transform: translatey(0px);
    }

    50% {
        -webkit-transform: translatey(-15px);
        transform: translatey(-15px);
    }

    100% {
        -webkit-transform: translatey(0px);
        transform: translatey(0px);
    }
}

/*gallery*/
.gallery {
    width: 800px;
    margin: auto;
}

/*slide right menu*/
.side-right {
    position: fixed;
    z-index: 99999;
}

.social {
    position: fixed;
    perspective: 1000px;
    right: -8px;
    top: 20%;
    padding: 0;
    margin: 0;
    background-color: #fff;
    border: 1px solid #ccad8d;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 6px 0px rgb(203,182,152,0.7);
    -moz-box-shadow: 0px 0px 6px 0px rgb(203,182,152,0.7);
    box-shadow: 0px 0px 6px 0px rgb(203,182,152,0.7);
}

.image_hover {
    display: none;
}

.social-ico:hover .image_normal {
    display: none;
}

.social-ico:hover .image_hover {
    display: block;
}

.social li {
    display: block;
    position: relative;
    font-size: 12px;
    color: #fff;
    text-align: center;
    transition: background .5s ease .300ms;
}

    .social li a {
        display: flex;
        height: 50px;
        width: 50px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: stretch;
    }

    .social li span {
        float: left;
        text-align: left;
        color: #cbb698;
        padding: 0px;
        transform-origin: 0;
        visibility: hidden;
        opacity: 0;
        transform: rotateX(180deg);
        border-radius: 0px;
        transition: all .5s ease .300ms;
        position: absolute;
        top: 3px;
        right: 65px;
    }

span.np-ef {
    width: auto;
    height: auto;
    padding: 5px;
    background: #ffffff;
    color: #cbb698;
    font-size: 15px;
    border: 1px solid #ccad8d;
    min-width: 180px;
    -webkit-box-shadow: 0px 0px 6px 0px rgb(203,182,152,0.7);
    -moz-box-shadow: 0px 0px 6px 0px rgb(203,182,152,0.7);
    box-shadow: 0px 0px 6px 0px rgb(203,182,152,0.7);
}

.social li span:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    right: -21px;
    top: 10px;
    border-left: 10px solid #ccad8d;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
}

.social li:hover span {
    visibility: visible;
    opacity: 1;
    transform: rotateY(0);
}

.np-ef_inner {
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    font-size: 13px;
    padding: 10px;
}

    .np-ef_inner:hover {
        background-color: #efefef;
        cursor: pointer;
    }

    .np-ef_inner:last-child {
        margin-bottom: 0px;
    }

.icon-wrapper {
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #ccad8d;
    width: 37px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.np-ef_inner_link {
    color: #6a718e;
    line-height: initial;
}

.np-ef_inner_title {
    font-weight: 700;
    line-height: initial;
}

    .np-ef_inner_title a.np-ef_inner_title_info {
        font-weight: 700;
        line-height: initial;
        width: auto;
        color: #cbb698;
        height: auto;
        padding: 10px;
    }

        .np-ef_inner_title a.np-ef_inner_title_info:hover {
            text-decoration: none;
            color: #dec4a0;
            background-color: #efefef;
        }
/*slide right menu END*/

/*sports*/
.sports_home {
    background: url(../images/web/sports/sportsbg.jpg)no-repeat top center;
    background-position: center;
}

.nav-tabs.inner_main {
    border-bottom: none;
}

.inner_main .nav-item .nav-link {
    padding: 0;
    border: none;
}

.img_active {
    display: none
}

.inner_main .nav-item .nav-link.active .img_nonactive {
    display: none;
}

.inner_main .nav-item .nav-link.active .img_active {
    display: block;
}

.game_products_select {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    justify-items: center;
    align-items: center;
    margin-top: 15px;
}

    .game_products_select img {
        width: 45px;
    }

.game_products_btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    border: none;
    background: none;
}

    .game_products_btn:hover {
        filter: brightness(1) drop-shadow(0 0 4px rgba(203,182,152,1));
    }

    .game_products_btn:focus {
        background: none;
        border: none;
        outline: none;
    }

.game_products_btntext {
    position: absolute;
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
}

.tab_bar_tltle_sec_inner {
    font-size: 30px;
    font-weight: 700;
    color: #cbb698;
    margin-bottom: 10px;
    line-height: normal;
}

/*esports*/
.esports_home {
    background: url(../images/web/esports/BG.jpg)no-repeat bottom center;
}

.esport_custom {
    align-self: center;
}

.esport_custom_title {
    font-size: 70px;
}

/*live*/
.live_home {
    background: url(../images/web/livecasino/BG.jpg)no-repeat top center;
    background-position: center;
}

    .live_home .for_float_use {
        min-height: 600px;
    }

.game_products_btn_live {
    display: inline-flex;
}

.game_products_btntext_live {
    color: #6a718e;
}

/*slot*/
.slot_home {
    background: url(../images/web/slots/BG.jpg)no-repeat bottom center;
}

    .slot_home .for_float_use {
        min-height: 680px;
    }

.game_products_select_slot {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    margin-top: 15px;
}

.game_products_btn_slot {
    display: inline-flex;
}

.game_products_btntext_slot {
    color: #6a718e;
}
/*fishing*/
.fishing_home {
    background: url(../images/web/fishing/BG.jpg)no-repeat top center;
    background-position: center;
}

.game_products_select_fish {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    justify-items: center;
    align-items: baseline;
    margin-top: 15px;
}
/*lotto*/
.lotto_home {
    background: url(../images/web/lotto/BG.jpg)no-repeat top center;
    background-position: center;
}

.game_products_select_lotto {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    align-items: center;
    margin-top: 15px;
}

.lottoTitle {
    font-size: 29px;
    color: #cbb698;
    text-align: center;
    font-weight: 700;
}

.lotto_ball {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    margin: 0 auto;
}

.lotto_ball_out {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lotto_balltext {
    position: absolute;
    font-size: 36px;
    color: #cbb698;
    font-weight: 700;
}

.lotto_inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.lotto_inner_bg {
    background-color: #ffffff;
    padding: 7px;
    -webkit-box-shadow: 0px 0px 6px 0px rgb(203,182,152,0.7);
    -moz-box-shadow: 0px 0px 6px 0px rgb(203,182,152,0.7);
    box-shadow: 0px 0px 6px 0px rgb(214,214,214,0.7);
    border-radius: 10px;
    margin: 3px 3px;
}

.lotto_inner_date {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    border: 1px solid #cbb698;
    padding: 10px;
}

.lotto_inner_icon {
    display: block;
    align-self: center;
}

.lotto_inner_head_custom {
    line-height: initial;
    padding: 0 3px;
    min-height: 36px;
}

.lotto_inner_head_date {
    font-size: 12px;
}

.lotto_table {
    color: #000000;
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 10px;
}

table.lotto_table thead tr {
    background-color: #3f3f3f;
    color: #ffffff;
    border: 2px solid #3f3f3f;
}

.lotto_table_body {
    background-color: #ffffff;
}

.lotto_emtpy {
    background-color: #7c7b7b;
}

table.lotto_table tbody.lotto_table_body tr td {
    border: 2px solid #7c7b7b;
}

table.lotto_table tbody.lotto_table_body::after {
    content: '';
    display: block;
    height: 5px;
}

.lotto_inner_magnum_head {
    background-color: #ffc100;
    color: #000000;
}

.lotto_inner_toto_head {
    background-color: #ff0000;
    color: #ffffff;
}

.lotto_inner_damacai_head {
    background-color: #000080;
    color: #ffffff;
}

.lotto_inner_sabah_head {
    background-color: #02d0c9;
    color: #000000;
}

.lotto_inner_sandakan_head {
    background-color: #f8c100;
    color: #000000;
}

.lotto_inner_special_head {
    background-color: #008000;
    color: #ffffff;
}

.lotto_inner_sg_head {
    background-color: #084b8a;
    color: #ffffff;
}

#payoutmodal.modal, #promomodal.modal {
    z-index: 9999999;
}

    #payoutmodal.modal .modal-body {
        padding: 30px;
    }

    #payoutmodal.modal .modal-dialog, #promomodal.modal .modal-dialog {
        max-width: 800px;
    }

    #payoutmodal.modal .modal-header, #promomodal.modal .modal-header {
        background-image: linear-gradient(#eacdad, #c3aa8a);
        -moz-box-shadow: 0px 3px 7px 0px #ccc;
        -webkit-box-shadow: 0px 3px 7px 0px #ccc;
        box-shadow: 0px 3px 7px 0px #ccc;
        color: #ffffff;
        font-size: 25px;
        font-weight: 700;
    }

        #payoutmodal.modal .modal-header span, #promomodal.modal .modal-header span {
            text-shadow: 0px 2px 3px #665641;
        }

        #payoutmodal.modal .modal-header img, #promomodal.modal .modal-header img {
            margin: 0 auto;
            width: 200px;
        }

        #payoutmodal.modal .modal-header .close, #promomodal.modal .modal-header .close {
            position: absolute;
            right: 20px;
        }

.lotto_table table {
    font-weight: 700;
    font-size: 15px;
}

.vip_table_spctext {
    font-weight: 400;
}

.lotto_table table thead {
    background-color: #cbb698;
    color: #ffffff;
}

    .lotto_table table thead tr td {
        border-right: 1px solid #ffffff;
    }

    .lotto_table table thead tr td, .lotto_table table tbody tr td {
        padding: 10px 2px;
    }

        .lotto_table table thead tr td:first-child {
            border-top-left-radius: 7px;
        }

        .lotto_table table thead tr td:last-child {
            border-top-right-radius: 7px;
        }

        .lotto_table table tbody tr td:first-child {
            text-transform: uppercase;
        }

.lotto_table table tbody tr td {
    border: 1px solid #ccad8d;
    text-transform: uppercase;
}

.lotto_table table tbody {
    color: #6a718e;
}

.lotto_table span {
    font-size: 20px;
    font-weight: 700;
    color: #6a718e;
}

.blinking {
    animation: blinkingText 1.2s infinite;
}

@keyframes blinkingText {
    0% {
        color: #dc3545;
    }

    49% {
        color: #dc3545;
    }

    60% {
        color: #e2b3b7;
    }

    99% {
        color: #e2b3b7;
    }

    100% {
        color: #dc3545;
    }
}

.lotto_table span.lotto_extra {
    color: #dc3545;
    font-size: 14px;
}
/*promotion*/
.promo_home {
    background: url(../images/web/promotion/promobg.jpg)no-repeat top center;
    background-position: top;
}

.promotion_main {
    margin-top: 400px;
}

.mix {
    display: none;
}

.filter-menu-bar {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.pmbox {
    font-size: 13px;
    font-weight: 700;
    background: #ffffff;
    border-radius: 29px;
    height: 45px;
    color: #6a718e;
    -webkit-box-shadow: 0px 0px 6px 0px rgb(203,182,152,0.7);
    -moz-box-shadow: 0px 0px 6px 0px rgb(203,182,152,0.7);
    box-shadow: 0px 3px 6px 0px rgb(203,182,152,0.7);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    text-transform: uppercase;
}

    .pmbox.active {
        background: linear-gradient(to bottom,#e0d2bc 5%,#c9b69a 100%);
        color: #ffffff;
    }

    .pmbox img {
        margin-right: 5px;
    }

    .pmbox.active .img_active {
        display: block;
    }

    .pmbox.active .img_nonactive {
        display: none;
    }

.promo-boxes {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 15px 15px;
    text-align: center;
    margin: 46px 0 10px 0;
}

.promo-bx {
    border: 1px solid #cbb698;
    border-radius: 10px;
}

.promo-dl {
    position: relative;
}

.promo-dl-date {
    position: absolute;
    bottom: 10px;
    font-size: 13px;
    background-color: rgb(255,255,255,0.8);
    padding: 2px 8px;
    ;
    color: #6a718e;
    font-weight: bold;
    border-radius: 0px 20px 20px 0px;
}

.promo-dl img {
    border-radius: 10px;
}

.lotto_table span.promo_table_exclude {
    color: #dc3545;
    font-size: 15px;
}

.promo_example {
    color: #6a718e;
    font-weight: 500;
}

#promomodal.modal .modal-body {
    padding: 30px 0;
}

.promotnc {
    background-image: linear-gradient(#eacdad, #c3aa8a);
    color: #ffffff;
    padding: 5px 10px 5px 10px;
    font-weight: 500;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    text-shadow: 0px 2px 3px #665641;
    height: 44px;
}

.promotnccontent ul {
    list-style: none;
    padding-left: 26px;
}

    .promotnccontent ul li::before {
        content: "\2022";
        color: #c3aa8a;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -15px;
        font-size: 17px;
    }

.btn-promo-back {
    background-color: transparent;
    color: #c5c5c5;
    font-size: 20px;
    font-weight: 700;
    border: none;
}

    .btn-promo-back:hover {
        background-image: linear-gradient(#eacdad, #c3aa8a);
    }
/*vip*/
.slider.vip_slider {
    height: 300px;
    margin: 30px auto 60px auto;
}

    .slider.vip_slider ul li {
        /* transition: width .5s, height .5s, top .5s, left .5s;
        -webkit-transition: width .5s, height .5s, top .5s, left .5s;
        */
        border: none;
        border-radius: 20px;
        -webkit-box-shadow: 1px 5px 6px 0px rgb(112,112,112,0.7);
        -moz-box-shadow: 1px 5px 6px 0px rgb(112,112,112,0.7);
        box-shadow: 1px 5px 6px 0px rgb(112,112,112,0.7);
        cursor: pointer;
    }

.vip_home {
    background: url(../images/web/vip/vipbg.jpg)no-repeat top center;
}

.vip_table table {
    font-weight: 700;
    font-size: 15px;
}

.vip_table_spctext {
    font-weight: 400;
}

.vip_table table thead {
    background-color: #cbb698;
    color: #ffffff;
}

    .vip_table table thead tr td {
        border-right: 1px solid #ffffff;
    }

    .vip_table table thead tr td, .vip_table table tbody tr td {
        padding: 10px 2px;
    }

        .vip_table table thead tr td:first-child {
            width: 210px;
            border-top-left-radius: 7px;
        }

        .vip_table table thead tr td:last-child {
            border-top-right-radius: 7px;
        }

        .vip_table table tbody tr td:first-child {
            text-transform: uppercase;
        }

.vip_table table tbody tr td {
    border: 1px solid #ccad8d;
}

.vip_table table tbody {
    color: #6a718e;
}

.vip_table_rules table {
    font-weight: 700;
    font-size: 15px;
}

    .vip_table_rules table thead {
        background-color: #6a718e;
        color: #ffffff;
    }

        .vip_table_rules table thead tr td:first-child {
            width: 210px;
            border-top-left-radius: 7px;
        }

        .vip_table_rules table thead tr td:last-child {
            border-top-right-radius: 7px;
        }

        .vip_table_rules table thead tr td, .vip_table_rules table tbody tr td {
            padding: 10px 2px;
        }

    .vip_table_rules table tbody tr td {
        border: 1px solid #ccad8d;
    }

    .vip_table_rules table thead tr td {
        border-right: 1px solid #ffffff;
    }

/*login*/
.login_home {
    background: url(../images/web/login/bg.jpg)no-repeat top center;
    background-position: center;
    min-height: 460px;
}

.login_body {
    background: url(../images/web/login/login_base.png)no-repeat top center;
    background-position: center;
    border: 1px solid #cbb698;
    padding: 14px;
    margin: 50px 0 30px 0;
    -webkit-box-shadow: 0px 0px 6px 0px rgb(203,182,152,0.7);
    -moz-box-shadow: 0px 0px 6px 0px rgb(203,182,152,0.7);
    box-shadow: 0px 0px 6px 0px rgb(203,182,152,0.7);
    border-radius: 10px;
    background-size: cover;
}

.login_title {
    font-weight: 700;
    font-size: 20px;
    color: #6a718e;
    text-align: center;
}

.login_form {
    margin: 20px auto 0 auto;
    color: #cbb698;
}

.login_form_inner a {
    color: #6a718e;
}

.login_form .form-group .form-control {
    border: 1px solid #cbb698;
    border-radius: 20px;
    height: 32px;
    /*text-transform: uppercase;*/
}

.login_form .form-group .col-form-label {
    text-align: right;
    font-size: 14px;
}

.registrationPassIcon {
    position: absolute;
    top: 11px;
    right: 24px;
}

.login_remember {
    margin-left: auto;
}

.btn_login_main {
    margin-top: 10px;
}

.btn_login {
    background: linear-gradient(to bottom,#e0d2bc 5%,#c9b69a 100%);
    color: #ffffff;
    min-width: 186px;
    height: 43px;
    border: 1px solid #c9b69a;
    border-radius: 8px;
}

    .btn_login:hover {
        -webkit-box-shadow: 0px 0px 6px 0px rgb(203,182,152,0.7);
        -moz-box-shadow: 0px 0px 6px 0px rgb(203,182,152,0.7);
        box-shadow: 0px 0px 6px 0px rgb(203,182,152,0.7);
    }

.btn_otp {
    background: linear-gradient(to bottom,#e0d2bc 5%,#c9b69a 100%);
    color: #ffffff;
    min-width: 109px;
    height: 34px;
    border: 1px solid #c9b69a;
    border-radius: 8px;
}

.vcode {
    display: flex;
    align-self: center;
    justify-content: center;
}

/*registermodal*/
#afterRegModal.modal .modal-dialog {
    max-width: 900px;
}

#afterRegModal.modal .modal-header {
    padding: 6px 10px;
    border-bottom: none;
}

.modal_main_title {
    text-align: center;
}

#afterRegModal.modal .modal-body {
    padding-top: 0;
}

#afterRegModal.modal .modal-content {
    border: 1px solid #ccad8d;
    border-radius: 1.3rem;
}

#afterRegModal.modal .modal-body .modal-title {
    font-size: 39px;
    color: #cbb698;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0px 2px #7c664b;
    background: -webkit-linear-gradient(#eacdad, #c3aa8a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ddc09b;
}

.modal-title_02 {
    color: #cbb698;
}

.modal-title_03 {
    color: #6a718e;
    font-size: 14px;
}

.modal_box_column {
    border: 1px solid #ccad8d;
    border-radius: 10px;
    min-height: 362px;
    padding: 10px;
    -webkit-box-shadow: 0px 0px 6px 0px rgb(203,182,152,0.7);
    -moz-box-shadow: 0px 0px 6px 0px rgb(203,182,152,0.7);
    box-shadow: 0px 0px 6px 0px rgb(203,182,152,0.7);
}

.modal_box_column_title {
    font-size: 14px;
    color: #ccad8d;
    text-align: center;
    font-weight: 700;
    border-bottom: 1px solid #ccad8d;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.modal_box_column_body {
    color: #6a718e;
    font-size: 12px;
    line-height: initial;
    margin: 15px 0px;
    text-align: justify;
}

.modal_box_column_body_icon {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    font-weight: 700;
    justify-items: center;
    text-align: center;
}

    .modal_box_column_body_icon img {
        height: 55px;
    }

.modal_box_column_body_icon_custom img {
    height: auto;
    width: 60px;
}

.modal_box_column_body ul {
    padding-left: 16px;
}

.modal_box_column_custom {
    position: relative;
    padding: 10px;
}

.modal_box_column_title_custom {
    padding: 0px 20px 10px 20px;
}

.fixed_custom {
    position: absolute;
    width: 90px;
    top: -6px;
    left: -6px;
}

/*downloadmodal*/
.downloadmodal {
    z-index: 9999999;
}

    .downloadmodal .modal-body {
        padding: 30px;
    }

    .downloadmodal .modal-dialog {
        max-width: 800px;
    }

    .downloadmodal .modal-header {
        background-image: linear-gradient(#eacdad, #c3aa8a);
        -moz-box-shadow: 0px 3px 7px 0px #ccc;
        -webkit-box-shadow: 0px 3px 7px 0px #ccc;
        box-shadow: 0px 3px 7px 0px #ccc;
        padding: 0px;
    }

        .downloadmodal .modal-header img {
            margin: 0 auto;
            width: 200px;
        }

        .downloadmodal .modal-header .close {
            position: absolute;
            right: 20px;
            top: 10px;
        }

.download_main {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    font-weight: 700;
    justify-items: center;
    text-align: center;
    grid-column-gap: 20px;
}

.download_box_column {
    border: 1px solid #ccad8d;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    -webkit-box-shadow: 0px 0px 6px 0px rgb(203,182,152,0.7);
    -moz-box-shadow: 0px 0px 6px 0px rgb(203,182,152,0.7);
    box-shadow: 0px 0px 6px 0px rgb(203,182,152,0.7);
    position: relative;
    margin-top: 35px;
}

.applybg {
    background: url(../images/web/download/APPLE.jpg)no-repeat top center;
    background-position: center;
    background-size: cover;
}

.androidbg {
    background: url(../images/web/download/ANDROID.jpg)no-repeat top center;
    background-position: center;
    background-size: cover;
}

.pcbg {
    background: url(../images/web/download/window.jpg)no-repeat top center;
    background-position: center;
    background-size: cover;
}

.btn_login_download {
    margin-top: 10px;
}

.download_scan {
    width: 120px;
    height: 120px;
    text-align: center;
    margin: 36px auto 0 auto;
    display: flex;
    align-items: center;
}

.download_text {
    margin-top: 20px;
    font-size: 19px;
}

.btn_download {
    border-radius: 30px;
}

.download_toptitle {
    border: 1px solid #ccad8d;
    border-radius: 5px;
    height: 33px;
    width: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -14px;
    left: 27px;
    background-color: #ffffff;
    color: #ccad8d;
}

.download_icon {
    color: #ffffff;
    background-image: linear-gradient(#eacdad, #c3aa8a);
    position: absolute;
    border: 1px solid #c3aa8a;
    top: -19px;
    left: 8px;
    z-index: 1;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 22px;
    font-size: 25px;
}

.download_table table {
    -webkit-box-shadow: 0px 0px 6px 0px rgb(203,182,152,0.7);
    -moz-box-shadow: 0px 0px 6px 0px rgb(203,182,152,0.7);
    box-shadow: 0px 0px 6px 0px rgb(203,182,152,0.7);
}

    .download_table table thead {
        background-color: #c5ac8c;
        color: #ffffff;
        border: 1px solid #c5ac8c;
    }

    .download_table table tbody tr td {
        border: 1px solid #c5ac8c;
        padding: 10px;
    }

.download_pass {
    width: 100%;
    border: 1px solid #c5ac8c;
}

/*about*/
.sup_wrap_main {
    margin: 20px 0;
    color: #ffffff;
    font-size: 12px;
}

.sub-side-nav {
    margin: 0;
    padding: 0;
    width: 195px;
    float: left;
    border-bottom: none;
    color: #ffffff;
    list-style-type: none;
    text-transform: uppercase;
    -webkit-box-shadow: 0px 0px 6px 0px rgb(203,182,152,0.7);
    -moz-box-shadow: 0px 0px 6px 0px rgb(203,182,152,0.7);
    box-shadow: 0px 0px 6px 0px rgb(203,182,152,0.7);
    border: 1px solid #cba98c;
}

    .sub-side-nav li {
        background: #ffffff;
        border-bottom: 1px solid #cba98c;
        cursor: pointer;
        font-weight: 700;
        text-align: center;
    }

        .sub-side-nav li:hover, .sub-side-nav li.active {
            background: -moz-linear-gradient(bottom,#eacdad 0%,#c3aa8a 99%);
            background: -webkit-linear-gradient(bottom,#eacdad 0%,#c3aa8a 99%);
            background: linear-gradient(to bottom,#eacdad 0%,#c3aa8a 99%);
        }

            .sub-side-nav li:hover a {
                color: #ffffff;
            }

        .sub-side-nav li a {
            color: #6a718e;
            padding: 20px;
            display: block;
            text-decoration: none;
        }

        .sub-side-nav li.active a {
            color: #ffffff;
        }

.sub-side-right {
    display: block;
    padding: 30px;
    margin-left: 212px;
    min-height: 400px;
    border: 1px solid #cba98c;
    background: #ffffff;
    color: #6a718e;
    -webkit-box-shadow: 0px 0px 6px 0px rgb(203,182,152,0.7);
    -moz-box-shadow: 0px 0px 6px 0px rgb(203,182,152,0.7);
    box-shadow: 0px 0px 6px 0px rgb(203,182,152,0.7);
}

.sub-side-right-title {
    border-bottom: 1px solid #cba98c;
    margin-bottom: 10px;
    text-transform: uppercase;
}
/*aboutEND*/

/*banking*/
.bankingtable {
    color: #6a718e;
}

table.bankingtable tbody tr td {
    border: 1px solid #cba98c;
}
/*bankingEND*/

/*tnc*/
.tncaccordion .tncbtn {
    color: #6a718e;
}

.tncaccordion .card {
    margin-bottom: 10px;
    border: none;
}

    .tncaccordion .card .tncbtn.collapsed {
        background: #ffffff;
        border: 1px solid #cba98c;
        color: #6a718e;
    }

    .tncaccordion .card .tncbtn {
        background: -moz-linear-gradient(bottom,#eacdad 0%,#c3aa8a 99%);
        background: -webkit-linear-gradient(bottom,#eacdad 0%,#c3aa8a 99%);
        background: linear-gradient(to bottom,#eacdad 0%,#c3aa8a 99%);
        width: 100%;
        text-align: left;
        height: 46px;
        border-radius: 10px;
        color: #ffffff;
    }

    .tncaccordion .card .btn:focus {
        box-shadow: none;
    }
/*tncEND*/

/*blogpage*/
.blogpage_home {
    background: #f8f9fb url(../images/web/blogpage/blogpagebg.jpg)no-repeat top center;
    background-position: top;
}

.filter-menu-bar-ih {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.ih-bx {
    -webkit-box-shadow: 0px 0px 6px 0px rgb(203,182,152,0.7);
    -moz-box-shadow: 0px 0px 6px 0px rgb(203,182,152,0.7);
    box-shadow: 0px 0px 6px 0px rgb(203,182,152,0.7);
}

.blog_main {
    color: #6a718e;
    font-size: 12px;
    text-align: left;
    padding: 10px;
}

.sub {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.blog_main .sum {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.blog_read {
    margin-top: 10px;
    background-color: #6a718e;
    border-radius: 23px;
    border: none;
    min-width: 100px;
    height: 32px;
    color: #fff;
}

    .blog_read a {
        color: #ffffff;
        text-decoration: none;
    }

.info_main {
    margin-top: 30px;
}

.info_back a {
    color: #6a718e;
}

    .info_back a:hover {
        text-decoration: none;
    }

.info_main_title {
    font-size: 20px;
    font-weight: 700;
    color: #43475a;
}

.info_img {
    border: 1px solid #cbb698;
}

.blog_content {
    font-size: 12px;
}

.blogseeall {
    border: 1px solid #cbb698;
}

    .blogseeall img {
        border-bottom: 1px solid #cbb698;
    }

.blogseeall_main {
    border: 8px solid #f5dfcc;
}
/*blogpageEND*/

/*announcement*/
.announcementmodal.modal {
    z-index: 999999;
}

.announcementmodal .modal-content {
    position: relative;
}

.announcementmodal .close {
    position: absolute;
    right: 13px;
    top: 66px;
}

.announcementmodal.detectannouncementmodal02 .close {
    position: absolute;
    right: 55px;
    top: 20px;
}

.announcementmodal .modal-content {
    background-color: transparent;
    border: none;
}

.announcementmodal .modal-dialog {
    max-width: 800px;
}

.indexdetectmodal .modal-backdrop {
    z-index: 99999;
}
/*announcementEND*/

/*afterlogin*/
.profile_rate {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

    .profile_rate img {
        width: 23px;
    }

.mail_icon {
    font-size: 25px;
}

.notification {
    cursor: pointer;
}

    .notification a {
        color: #6a718e;
    }

    .notification .badge {
        position: absolute;
        top: -8px;
        right: 5px;
        padding: 3px 6px;
        border-radius: 50%;
        background-color: red;
        color: white;
    }

.login_header_afterlogin {
    display: flex;
    align-items: center;
    margin-top: 9px;
}

.btn_acc {
    font-size: 13px;
    width: 90px;
    border: 1px solid #cba98c;
    background: none;
    border-radius: 16px;
    color: #6a718e;
}

.btn_bal {
    font-size: 13px;
    background: #6a718e;
    border-radius: 16px;
    color: #ffffff;
    border: none;
    min-width: 133px;
}

.acc_login {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

.option-drop {
    position: relative;
    text-align: center;
}

.btn_logout {
    font-size: 13px;
    min-width: 180px;
    border: 1px solid #cba98c;
    background: #f8f9fb;
    border-radius: 26px;
    color: #6a718e;
    min-height: 36px;
    margin-left: 18px;
    margin-bottom: 15px;
}

    .btn_logout:hover {
        background-image: linear-gradient(to bottom, #6a718e 0%, #838db4 100%);
        color: #ffffff;
    }

.dropdown-option {
    display: none;
    position: absolute;
    background: rgb(255 255 255);
    z-index: 2;
    top: 100%;
    right: 0;
    width: 250px;
    text-align: center;
    border-radius: 0;
    border: 1px solid #cba98c;
    margin-top: 10px;
}

    .dropdown-option ul {
        padding: 0;
        margin: 0;
    }

        .dropdown-option ul li {
            list-style-type: none;
        }

            .dropdown-option ul li a {
                color: #6a718e;
                padding: 4px 0;
                display: block;
                font-size: 14px;
            }

.option-drop:hover .dropdown-option {
    display: block;
    z-index: 2;
}

.balance-drop:hover .dropdown-balance {
    display: block;
}

.dropdown-balance {
    display: none;
    position: absolute;
    width: 400px;
    background: rgb(255 255 255 / 95%);
    color: #6a718e;
    z-index: 2;
    text-align: center;
    border: 1px solid #b9a78d;
    right: 0;
    padding-top: 12px;
    margin-top: 10px;
}

.dropdown-balance_emtpy {
    height: 11px;
    top: -12px;
    position: absolute;
    width: 100%;
}

.summary-wrapper {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 9px 0px;
    font-size: 14px;
    padding-bottom: 10px;
}

.main-item, .main-amount {
    background: linear-gradient(to bottom, rgba(157,54,209,1) 0%, rgba(66,9,93,1) 100%);
    color: #fff;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 500;
}

.balc {
    display: inline-block;
    margin: 0 3px;
}

.platform-item {
    text-transform: uppercase;
    font-weight: 500;
    padding: 0px 10px;
}

.amount-item {
    text-align: right;
    height: 25px;
    padding: 0px 10px;
}

button.btn-in {
    display: inline-block;
    border: none;
    margin: 0 5px;
    height: 100%;
    padding: 0px 10px;
    background: #6a718e;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
}

button.btn-out {
    display: inline-block;
    border: none;
    margin: 0 2px;
    height: 100%;
    padding: 0px 10px;
    background: #cba98c;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
}

.afterloginbodymain {
    display: grid;
    grid-template-columns: 250px auto;
    padding: 15px 0px 45px;
    margin-top: 65px;
}

.main_profile {
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 6px 0px rgb(203,182,152,0.7);
    -moz-box-shadow: 0px 0px 6px 0px rgb(203,182,152,0.7);
    box-shadow: 0px 0px 6px 0px rgb(203,182,152,0.7);
    padding: 5px 0;
}

.user_main {
    margin-top: 20px;
}

.cam.fa-camera {
    background: #cba98c;
    border-radius: 50%;
    height: 2em;
    width: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border: 2px solid #ffffff;
}

.user_profile_img {
    position: relative;
    cursor: pointer;
}

    .user_profile_img img {
        border-radius: 50%;
        width: 100px;
        height: 100px;
    }

.cam_icon {
    position: absolute;
    bottom: 0;
    right: 48px;
}

.name_profile {
    display: grid;
    grid-template-columns: auto auto;
    margin: 10px 0;
}

.main_btn_short {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    word-break: break-all;
    grid-gap: 10px;
    margin-top: 20px;
}

.main_btn_short_custom {
    cursor: pointer;
}

    .main_btn_short_custom a, .menu_account a {
        text-decoration: none;
    }

        .main_btn_short_custom a .main_text {
            color: #6a718e;
            font-size: 12px;
            font-weight: 500;
        }

        .main_btn_short_custom a.active .main_text {
            color: #cba98c;
        }

    .main_btn_short_custom img {
        width: 35px;
    }

.afteractive {
    display: none;
}

.main_btn_short_custom a.active .beforeactive {
    display: none;
}

.main_btn_short_custom a.active .afteractive {
    display: block;
    margin: auto;
}

.main_btn_short_custom:hover a .beforeactive {
    display: none;
}

.main_btn_short_custom:hover a .afteractive {
    display: block;
    margin: auto;
}

.main_btn_short_custom:hover a .main_text {
    color: #cba98c;
}

.menu_account {
    margin: 12px 0 0;
}

    .menu_account a {
        color: #6a718e;
        font-weight: 500;
        padding: 13px 15px 13px 31px;
        font-size: 13px;
        text-align: left;
    }

.menu_account_inner {
    display: grid;
    grid-template-columns: 20% 80%;
}

.menu_account a.active {
    background-color: #fff4ea;
    border-left: 4px solid #cba98c;
}

    .menu_account a.active .beforeactive {
        display: none;
    }

    .menu_account a.active .afteractive {
        display: block;
    }

    .menu_account a.active .main_text {
        color: #cba98c;
    }

        .menu_account a.active .main_text .copy_btn {
            background-color: #cba98c;
        }

.menu_account a.menu_account_inner:hover .beforeactive {
    display: none;
}

.menu_account a.menu_account_inner:hover .afteractive {
    display: block;
}

.menu_account a.menu_account_inner:hover .main_text {
    color: #cba98c;
}

    .menu_account a.menu_account_inner:hover .main_text .copy_btn {
        background-color: #cba98c;
    }

.main_profile_right {
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 6px 0px rgb(203,182,152,0.7);
    -moz-box-shadow: 0px 0px 6px 0px rgb(203,182,152,0.7);
    box-shadow: 0px 0px 6px 0px rgb(203,182,152,0.7);
    padding: 30px 20px;
    margin-left: 25px;
}

.afterlogin_deposit.nav-tabs {
    border: none;
}

.afterlogin_deposit.nav .nav-item .nav-link {
    min-width: 150px;
    border-radius: 40px;
    text-align: center;
    background: #f8f9fb;
    color: #6a718e;
    height: 43px;
    border: 1px solid #c9b69a;
    font-size: 14px;
    text-transform: uppercase;
}

    .afterlogin_deposit.nav .nav-item .nav-link.active, .afterlogin_deposit.nav .nav-item .nav-link:hover {
        background: linear-gradient(to bottom,#e0d2bc 5%,#c9b69a 100%);
        color: #ffffff;
        height: 43px;
        border: 1px solid #c9b69a;
    }

.afterlogin_deposit.nav-tabs .nav-item {
    margin-right: 20px;
}

.main_profile_title {
    font-size: 15px;
    font-weight: 700;
    margin: 5px 0px;
    color: #6a718e;
}

.bank-input-wrap.method {
    padding: 9px 9px;
    border-radius: 8px;
    width: max-content;
}

.bank-input-wrap label {
    margin: 0 5px;
    margin-bottom: 0;
}

    .bank-input-wrap label [type=radio] {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
    }

.bank-type {
    display: block;
    text-align: center;
    font-size: 14px;
    padding: 5px 5px;
    color: #484848;
    font-weight: 500;
    width: 98px;
    height: auto;
}

.bank-input-wrap label .bank-type {
    border-radius: 10px;
    color: #b7b7b7;
}

.bank-input-wrap label [type=radio] + .bank-type {
    cursor: pointer;
}

.bank-input-wrap label [type=radio]:checked + .bank-type {
    border: 1px solid #cba98c;
    background-position: right bottom;
    transition: none;
    color: #6a718e;
    -webkit-box-shadow: 0px 0px 6px 0px rgb(203,182,152,0.7);
    -moz-box-shadow: 0px 0px 6px 0px rgb(203,182,152,0.7);
    box-shadow: 0px 0px 6px 0px rgb(203,182,152,0.7);
}

.bank-input-wrap label [type=radio] + .bank-type img {
    cursor: pointer;
    filter: grayscale(0.8);
    border-radius: 10px;
}

.bank-input-wrap label [type=radio]:checked + .bank-type img {
    filter: grayscale(0);
}

.bnk-info {
    box-shadow: inset 0px 1px 5px -1px rgba(0,0,0,0.62);
    border-radius: 10px;
    width: 450px;
    padding: 10px;
}

    .bnk-info ul {
        list-style: disc;
        padding-left: 25px;
        color: #6a718e;
        margin-top: 10px;
        font-size: 14px;
    }

.copy_btn {
    color: #ffffff;
    background-color: #6a718e;
    border-radius: 20px;
    padding: 3px 10px;
    margin-left: 10px;
    cursor: pointer;
}

.submit_btn {
    color: #ffffff;
    font-size: 19px;
    font-weight: 500;
    min-width: 132px;
    border: none;
    min-height: 39px;
    border-radius: 34px;
    background-image: linear-gradient(to bottom, #838db4 0%, #6a718e 100%);
}

    .submit_btn:hover {
        background-image: linear-gradient(to bottom, #6a718e 0%, #838db4 100%);
    }

.afterloginform .form-control {
    background-color: #f8f9fb;
    border-radius: 0;
}

.transfer_title_main {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.transfer_title {
    font-size: 13px;
    color: #6a718e;
    font-weight: 500;
}

.allout_btn {
    background-image: linear-gradient(to bottom, #838db4 0%, #6a718e 100%);
    min-width: 117px;
    color: #fff;
    border: none;
    min-height: 34px;
    border-radius: 20px;
}

    .allout_btn:hover {
        background-image: linear-gradient(to bottom, #6a718e 0%, #838db4 100%);
    }

.form-inline .form-control {
    width: 156px;
    background-color: #f8f9fb;
}

.transfer_main {
    margin-top: 20px;
}

.form-inline .form-control label {
    font-size: 13px;
    color: #6a718e;
    font-weight: 500;
}

.btn_transfer {
    font-size: 13px;
    min-width: 105px;
    border: 1px solid #cba98c;
    background: #f8f9fb;
    border-radius: 26px;
    color: #6a718e;
    min-height: 36px;
    margin-left: 18px;
}

    .btn_transfer:hover {
        background-image: linear-gradient(to bottom, #6a718e 0%, #838db4 100%);
        color: #ffffff;
    }

.box-prov {
    padding: 10px 0px 10px 0px;
    border-radius: 8px;
    margin-top: 5px;
}

    .box-prov ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
    }

        .box-prov ul li {
            margin-left: 10px;
            border: 1px solid #6a718e;
            width: 124px;
            padding: 10px;
            text-align: center;
            margin-bottom: 10px;
            border-radius: 8px;
            cursor: pointer;
            background-color: #f8f9fb;
            color: #6a718e;
            font-weight: 500;
            font-size: 12px;
        }

            .box-prov ul li a {
                color: #6a718e;
                font-weight: 500;
            }

                .box-prov ul li a:hover {
                    text-decoration: none;
                }

            .box-prov ul li:nth-child(6n+1) {
                margin-left: 0px;
            }

.prov-amot {
    background: #fff;
    border-radius: 9px;
    border: 2px solid #cba98c;
    margin: 0px 5px;
    margin-top: 5px;
    word-break: break-all;
    color: #6a718e;
}

.box-prov ul li.active, .box-prov ul li:hover {
    background-image: linear-gradient(to bottom, #838db4 0%, #6a718e 100%);
    border: 1px solid #838db4;
    color: #fff;
}

    .box-prov ul li.active .prov-amot, .box-prov ul li:hover .prov-amot {
        border: 2px solid #6a718e;
    }

.transfer_main label {
    color: #6a718e;
    font-weight: 500;
}

.form-group b {
    color: #6a718e;
    font-size: 13px;
}

.vip_icon {
    display: grid;
    grid-template-columns: auto auto;
}

.vip_main_title {
    font-size: 16px;
    font-weight: 700;
    color: #6a718e;
}

.vip_sup_title {
    font-size: 13px;
    color: #6a718e;
}

.vip_exclusive {
    margin-top: 50px;
}

.vip_exclusive_main {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    color: #6a718e;
    text-align: center;
    -webkit-box-shadow: 0px 0px 6px 0px rgb(203,182,152,0.7);
    -moz-box-shadow: 0px 0px 6px 0px rgb(203,182,152,0.7);
    box-shadow: 0px 0px 6px 0px rgb(203,182,152,0.7);
}

.vip_exclusive_text {
    font-size: 11px;
}

.vip_exclusive_sub {
    padding: 10px;
    border: 1px solid #cba98c;
}

    .vip_exclusive_sub:nth-child(even) {
        border-right: none;
        border-left: none;
    }

.vip_benefits table tbody tr:first-child td {
    border-bottom: 1px solid #cba98c;
    text-align: center;
    background-color: #f8f9fb;
}

.vip_benefits table {
    border: 1px solid #cba98c;
    color: #6a718e;
    -webkit-box-shadow: 0px 0px 6px 0px rgb(203,182,152,0.7);
    -moz-box-shadow: 0px 0px 6px 0px rgb(203,182,152,0.7);
    box-shadow: 0px 0px 6px 0px rgb(203,182,152,0.7);
}

    .vip_benefits table tbody tr td {
        padding: 10px;
    }

.form_btn {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.btn_history {
    border: 1px solid #6a718e;
    background-color: #f8f9fb;
    height: 35px;
    color: #b7b7b7;
    width: 97px;
}

    .btn_history.active {
        color: #6a718e;
    }

.history_custom {
    display: grid;
    grid-template-columns: 355px 300px auto;
}

.form-inline.history_custom .form-control {
    width: 220px;
    border-radius: 0;
}

.history_table {
    -webkit-box-shadow: 0px 0px 6px 0px rgb(203,182,152,0.7);
    -moz-box-shadow: 0px 0px 6px 0px rgb(203,182,152,0.7);
    box-shadow: 0px 0px 6px 0px rgb(203,182,152,0.7);
}

.history_table_main {
    margin-top: 30px;
}

table.history_table thead tr td, table.history_table tbody tr td {
    padding: 12px 5px;
}

table.history_table thead {
    background-image: linear-gradient(to bottom, #eacdad 0%, #c3aa8a 100%);
    color: #ffffff;
    font-weight: 700;
}

table.history_table tbody tr:nth-child(2n) {
    background-color: #f8f9fb;
}

table.history_table tbody tr td {
    border-right: 1px solid #c3aa8a;
    font-weight: 500;
}

    table.history_table tbody tr td:last-child {
        border: none;
    }

.history_green {
    color: #129c80;
}

.history_red {
    color: #ff112d;
}

.date_history {
    font-size: 13px;
    line-height: initial;
}

.date_history_time {
    font-size: 15px;
}

/*inbox*/
.afterlogin_inbox.nav-tabs {
    border: none;
}

.afterlogin_inbox.nav .nav-item .nav-link {
    min-width: 207px;
    border-radius: 0px;
    text-align: center;
    background: #f8f9fb;
    color: #6a718e;
    height: 43px;
    border: 1px solid #c9b69a;
    font-size: 14px;
}

    .afterlogin_inbox.nav .nav-item .nav-link.active, .afterlogin_inbox.nav .nav-item .nav-link:hover {
        background: linear-gradient(to bottom,#e0d2bc 5%,#c9b69a 100%);
        color: #ffffff;
        height: 43px;
        border: 1px solid #c9b69a;
    }

.inbox_tab table {
    -webkit-box-shadow: 0px 0px 6px 0px rgb(204,203,201,0.7);
    -moz-box-shadow: 0px 0px 6px 0px rgb(204,203,201,0.7);
    box-shadow: 0px 0px 6px 0px rgb(204,203,201,0.7);
}

    .inbox_tab table tbody tr td {
        padding: 10px 10px;
        font-weight: 500;
        font-size: 13px;
    }

        .inbox_tab table tbody tr td .fa-envelope {
            color: #c9b69a;
        }

    .inbox_tab table tbody tr.noread {
        background-color: #f8f9fb;
    }

    .inbox_tab table tbody tr {
        cursor: pointer;
    }

.notice_main {
    position: relative;
}

.notification_NOTICE {
    position: absolute;
    top: 8px;
    right: 36px;
    padding: 0px 7px;
    border-radius: 50%;
    background-color: #99acc4;
    color: white;
}

.inbox_box {
    display: grid;
    grid-template-columns: 30% 70%;
}

.inbox_box_content {
    -webkit-box-shadow: 0px 0px 6px 0px rgb(204,203,201,0.7);
    -moz-box-shadow: 0px 0px 6px 0px rgb(204,203,201,0.7);
    box-shadow: 0px 0px 6px 0px rgb(204,203,201,0.7);
    border-top: 3px solid #6a718e;
    padding-top: 15px;
}

.inbox_box table tbody tr td {
    font-size: 13px;
}

.inbox_box_back a {
    font-size: 23px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #6a718e;
}

    .inbox_box_back a:hover {
        text-decoration: none;
    }

.inbox_title {
    font-weight: 700;
}

.inbox_content {
    font-size: 12px;
}

.delete_btn {
    min-height: 30px;
    min-width: 120px;
    font-size: 15px;
}

    .delete_btn a {
        color: #ffffff;
    }

        .delete_btn a:hover {
            text-decoration: none;
        }

.inbox_box table tbody tr.active, .inbox_box table tbody tr:hover {
    background-color: #6a718e;
    color: #ffffff;
}

#profilemodal.modal .modal-dialog {
    max-width: 500px;
}

#profilemodal.modal .modal-header {
    background-image: linear-gradient(#eacdad, #c3aa8a);
    -moz-box-shadow: 0px 3px 7px 0px #ccc;
    -webkit-box-shadow: 0px 3px 7px 0px #ccc;
    box-shadow: 0px 3px 7px 0px #ccc;
    color: #ffffff;
    font-size: 25px;
    font-weight: 700;
    justify-content: center;
}

    #profilemodal.modal .modal-header img {
        margin: 0 auto;
        width: 200px;
    }

    #profilemodal.modal .modal-header .close {
        position: absolute;
        right: 20px;
    }

.user_select_img {
    max-width: 125px;
    max-height: 125px;
    margin: auto;
}

    .user_select_img img {
        border-radius: 50%;
        width: 100px;
        height: 100px;
    }

.user_select_img_item {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-items: center;
    grid-row-gap: 10px;
}

    .user_select_img_item img {
        border-radius: 100px;
        max-width: 70px;
        cursor: pointer;
    }

.upload.fa-camera {
    background: #f8f9fb;
    border-radius: 50%;
    height: 67px;
    width: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6a718e;
    border: 2px solid #6a718e;
    font-size: 24px;
}

.upload_profile {
    cursor: pointer;
}

/*newtune*/
#downloadmodal.modal .modal-dialog {
    max-width: 800px;
}

#downloadmodal.modal .modal-header {
    background-image: linear-gradient(#eacdad, #c3aa8a);
    -moz-box-shadow: 0px 3px 7px 0px #ccc;
    -webkit-box-shadow: 0px 3px 7px 0px #ccc;
    box-shadow: 0px 3px 7px 0px #ccc;
    padding: 0px;
}

    #downloadmodal.modal .modal-header img {
        margin: 0 auto;
        width: 200px;
    }

    #downloadmodal.modal .modal-header .close {
        position: absolute;
        right: 20px;
        margin: 0;
    }
/*newtuneEND*/

#snow {
    background: none;
    background-image: url(../images/web/share/s13860.png?v=1),url(../images/web/share/s23860.png?v=1);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    pointer-events: none;
    -webkit-animation: snow 15s linear infinite;
    -moz-animation: snow 15s linear infinite;
    -ms-animation: snow 15s linear infinite;
    animation: snow 15s linear infinite;
}

@keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }

    50% {
        background-position: 500px 500px, 100px 200px, -100px 150px;
    }

    100% {
        background-position: 500px 1000px, 200px 400px, -100px 300px;
    }
}

@-moz-keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }

    50% {
        background-position: 500px 500px, 100px 200px, -100px 150px;
    }

    100% {
        background-position: 400px 1000px, 200px 400px, 100px 300px;
    }
}

@-webkit-keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }

    50% {
        background-position: 500px 500px, 100px 200px, -100px 150px;
    }

    100% {
        background-position: 500px 1000px, 200px 400px, -100px 300px;
    }
}

@-ms-keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }

    50% {
        background-position: 500px 500px, 100px 200px, -100px 150px;
    }

    100% {
        background-position: 500px 1000px, 200px 400px, -100px 300px;
    }
}
